.home__hero
  = render 'home/hero_text_1'
.container.home__hero-text-secondary
  = render 'home/hero_text_2'
  .container
    .row
      .hero-overrun.col-sm-10.col-sm-offset-1
        = simple_form_for @question_response, url: with_invitation_scope(giftees_path), html: {data: {behavior: 'question-response-form'}, class: 'sqr-form'} do |form|
          - if current_user&.admin?
            = hidden_field_tag :survey_id, @survey.id
          = render response_fields_partial, form: form, label: @question_response.survey_question.prompt
          .sqr-submit__container.text-right#js-sqr-submit__container
            %button{type: "submit", class: 'btn btn-primary sqr-submit__btn', data: {behavior: 'next-question-button'}}
              Start Quiz

- content_for :after_wrapper do
  = render 'home/how_wrapt_works'
  = render 'home/wrapt_stories', stories: :home_page_stories
