= simple_form_for  [:admin, @survey_question_option], url: admin_survey_question_option_path(@survey, @survey_question, @survey_question_option), remote: true, html: {data: {type: 'html', class: 'form form-inline', edit_option_form: true}} do |form|

  = form.input :text, label: 'Display Text', as: :string, input_html: {class: 'input-sm'}
  = form.input :explanation, label: 'Expanatory Text (shown when selected)', class: 'input-sm'
  = form.input :configuration_string, label: 'Configuration Settings (geeky stuff you need to ask about)', as: :string, input_html: {class: 'input-sm'}
  = form.submit "Save", class: 'btn btn-sm'

- content_for :page_js do
  :javascript
    new App.Admin.SurveyQuestionBuilder.EditOptionForm($('[data-edit-option-form]')[0])