= simple_form_for( [:admin, @survey_section], url: url) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :introduction_heading
    = f.input :introduction_text

  .form-actions
    = f.button :submit, "Save"
