.row.admin__intro
  .col-sm-12
    %h1
      = @survey.title
      - if @survey.published?
        %small
          %span.label.label-default Published
      = link_to "Edit Title", edit_admin_survey_path(@survey), class: 'btn btn-default btn-sm'

.row.admin__actions
  .col-sm-12
    = link_to "Add New Question", new_admin_survey_question_path(@survey), class: 'btn btn-primary'
    = link_to "Edit Sections", admin_survey_sections_path(@survey), class: 'btn btn-primary'
    = link_to 'Create a Copy of this Quiz', admin_survey_copying_path(@survey), class: 'btn btn-primary', data: {method: 'post'}
    = link_to 'Publish this Quiz', admin_survey_publishing_path(@survey), method: :create, class: 'btn btn-primary'
    = link_to 'Delete this Quiz', admin_survey_path(@survey), class: 'btn btn-danger', method: :delete,data: {confirm: 'Are you sure?'}

.row
  .col-sm-12
    %div{data: {behavior: 'sectioned-sortable-question-list', sectioned_sortable_question_list_href: admin_survey_sectioned_question_ordering_path(@survey, format: :json)}}
      - @survey.sections.preload(:questions).each do |section|
        = render 'survey_section', section: section
      = render 'survey_section', section: @survey.uncategorized_section


- content_for :page_js do
  :javascript
    new App.SectionedSortableQuestionList($('[data-behavior~=sectioned-sortable-question-list]')[0]);  

    