.row.admin__intro
  .col-sm-12
    %h1
      Profile Trait Matches for #{@survey_response.name}
      = link_to "View Response", edit_profile_set_survey_response_path(@survey_response.profile_set, @survey_response), class: 'btn btn-default btn-xs'

.row.admin__actions
  .col-sm-12
    = link_to 'Adjust Question Impacts', trait_training_set_questions_path(@trait_training_set), class: 'btn btn-primary'



.row
  .col-sm-6
    - if @evaluation.matching_in_progress?
      %p
        = image_tag 'ajax-loader.gif'
        We're generating matches for this survey response.  Please wait a moment.
      - content_for :page_js do
        :javascript
          setTimeout(function() {window.location.reload(true)}, 5000)
    - else
      - ProfileTraits::Topic.all.each do |topic|
        %h3= topic.name
        - topic.facets.each do |facet|
          %h4= facet.name
          - matched_tags = @evaluation.matched_tags.to_a.select {|tag| tag.facet_id == facet.id}
          - if matched_tags.none?
            %p No matches
          - else
            %ul
            - matched_tags.each do |tag|
              %li
                = tag.name_with_position
                matched
                = pluralize @evaluation.matched_tag_id_counts[tag.id.to_s], "time"
  .col-sm-3.col-sm-offset-3
    %h3 Responses
    = render 'responses_list'

