.container
  .row
    .col-xs-12.text-center
      %h1.about-page__header.fancy
        The Science of Gifting
      %p.about-page__tagline= content_with_citation(@tagline[:content], @tagline[:citations])
  .sg-boxes__container
    .row.sg-boxes__header
      .col-xs-12
        %h2.about-page__header Why is it so hard to get the right gift?
    .row.sg-boxes
      - @boxes.each do |box|
        .col-xs-12.col-md-4.sg-box
          .sg-box__content
            .sg-box__ill{id: box[:id]}
            %h5= box[:title]
            %p= content_with_citation(box[:content], box[:citations])
  - @content.each do |c|
    .row
      .col-xs-12.col-md-10.col-md-offset-1
        = c[:container] == 'sg-quote' ? content_quote(c) : content_section(c)
  .row
    .col-xs-12
      .sg-references
        - @references.each_with_index do |r, index|
          - num = index+1
          .sg-reference{id: "citation-0#{num}"}
            %span.sg-reference__num= "#{num}. "
            = link_to r[:text], r[:link], class: 'hidden-xs hidden-sm', target: '_blank'
            = link_to r[:short_text], r[:link], class: 'hidden-md hidden-lg', target: '_blank'

- content_for :after_wrapper do
  .wrapper--full-bleed__bg-02.mb1
    .container
      .sg-question__container
        .row
          .col-xs-12
            %h2.about-page__header Are you Ready to Gift Better?
        .row
          .col-xs-12.col-sm-10.col-sm-offset-1
            .sg-question
              = simple_form_for @question_response, url: profiles_path, html: {data: {behavior: 'question-response-form'}, class: 'sqr-form'} do |form|
                - if current_user&.admin?
                  = hidden_field_tag :survey_id, @survey.id
                = render response_fields_partial, form: form, label: @question_response.survey_question.prompt
        .text-center
          = embedded_svg('icon-gift-better-gift-wrapt', class: "landing-bottom__icon-gift-better-gift-wrapt mt6")
