.row.admin__intro
  .col-sm-12
    %h1 Invitation Requests

.row
  .col-md-12
    %table.table
      %thead
        %tr
          %th Email
          %th How Found
          %th Request Date
          %th

      %tbody
        - @invitation_requests.each do |invitation_request|
          %tr
            %td= invitation_request.email
            %td= invitation_request.humanized_how_found
            %td= invitation_request.created_at.strftime('%-m/%-d/%Y')
            %td
              = link_to 'Send Invitation', admin_invitation_request_path(invitation_request), class: 'btn btn-default btn-xs', method: :put
              = link_to 'Delete', admin_invitation_request_path(invitation_request), :method => :delete, :data => { :confirm => "Are you sure you want to delete this request?" }, class: 'btn btn-danger btn-xs'

    = paginate @invitation_requests