%h1 Listing training_sets

%p= link_to 'New Training set', new_training_set_path, class: 'btn btn-success'

%table.table
  %thead
    %tr
      %th Name
      %th Quiz
      %th

  %tbody
    - @training_sets.preload(:survey).each do |training_set|
      %tr
        %td= training_set.name
        %td= training_set.survey&.title
        %td
          = link_to 'Manage Products and Questions', training_set, class: 'btn btn-xs btn-primary'
          = link_to 'Change Name', edit_training_set_path(training_set), class: 'btn btn-xs btn-primary'
          = link_to 'Delete', training_set, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-xs btn-danger'


