%h1
  = @training_set.name
  = link_to 'Edit Title', edit_training_set_path(@training_set), class: 'btn btn-default'

%p
  %b Survey:
  = @training_set.survey&.title

%h3 Product-Questions

%p= link_to 'Add a New Product Question', new_training_set_product_question_path(@training_set), class: 'btn btn-success'

%table.table
  %thead
    %tr
      %th Product
      %th Question
      %th
  %tbody
    - @training_set_product_questions.preload(:product, :survey_question).each do |product_question|
      %tr
        %td= product_question.product&.title
        %td= product_question.survey_question&.prompt
        %td
          = link_to 'Edit', edit_training_set_product_question_path(@training_set, product_question), class: 'btn btn-xs btn-primary'
          = link_to 'Destroy', training_set_product_question_path(@training_set, product_question), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-xs btn-danger'

= paginate @training_set_product_questions