= "Dear #{@profile.name},"

#{@profile.owner.first_name || 'Someone'} has been gift shopping for for you on Wrapt,the new better gifting platform dedicated matching who you are, with gifts you will love - from artisanal items, memorable experiences or funds for your wish-lists in life.

#{@profile.owner.first_name || 'They'}, together with the curators from Wrapt, chose gifts for you based on answers she gave about your personality, passions and purpose in life. 

Now, we would love to see how well we did in choosing for you. 

Would you kindly review the gifts we chose and mark as liked/not liked for the reasons in the pull-down menu?

Given that this is our testing period before our actual launch, your feedback is super-helpful and appreciated.

See what #{@profile.owner.first_name || 'they'} picked out for you:

= profile_recipient_review_url(@profile.recipient_access_token)

Sincerely,
Team Wrapt