%h4 Filters
%p The following filters were applied to the recommendations based on the responses to the associated questions.
%table.table.table-striped
  %thead
    %tr
      %th Type / Description
      %th Question / Response
  %tbody
    - @engine.applied_filters.each do |filter|
      %tr
        %td
          %u= filter.name
          %br
          = filter.description
        %td
          = filter.question.prompt
          %strong (#{displayable_response(filter.question_response)})
          - if filter.question.code.present? 
            [#{filter.question.code}]
