%h4 Recommendations for '#{@survey_response.name}'

%table.table.table-striped.table.compact
  %thead
    %tr
      %th{colspan: 2} Impact
      %th Question/Response
  %tbody
    - @recommendations.each_with_index do |recommendation, position|
      - if recommendation.score >= Recommendations::Engine::RECOMMENDATION_SCORE_THRESHOLD
        %tr.success
          %th{colspan: 3}
            #{position + 1}.
            (#{number_with_precision(recommendation.score, precision: 2)})
            #{recommendation.gift.title}
            [#{recommendation.gift.wrapt_sku}, #{number_to_currency(recommendation.gift.selling_price.to_f)}] 

        - question_ranks = @engine.recommendation_question_ranks(recommendation)
        - question_ranks.sort{|a, b| b.score.abs <=> a.score.abs}.each do |question_rank|
          %tr
            %td
              - if question_rank.score > 0.0
                %i.text-success.glyphicon.glyphicon-arrow-up
              - else
                %i.text-danger.glyphicon.glyphicon-arrow-down
            %td.text-right= number_with_precision(question_rank.score, precision: 2)
            %td
              = question_rank.question.prompt
              %strong (#{displayable_response(question_rank.response)})
              [#{question_rank.question.code}]
              %div.text-muted
                = render 'impact_equation', question_rank: question_rank

      - else
        %tr.active
          %th{colspan: 3}
            #{recommendation.gift.title}
            - if recommendation.gift.featured?
              (featured)
            - else
              (random)
            #{recommendation.gift.title}
            [#{recommendation.gift.wrapt_sku}, #{number_to_currency(recommendation.gift.selling_price.to_f)}] 

- if @engine.applied_filters.any?
  %hr
  = render 'filters'
