%h4 Recommendation Breakdown
%p
  #{@recommendation.gift.title} (#{number_with_precision(@recommendation.score, precision: 2)})
  %br
  #{@recommendation.survey_response.name}

%table.table.table-striped
  %thead
    %tr
      %th{colspan: 2} Impact
      %th Question/Response
  %tbody
    - @question_ranks.sort{|a, b| b.score.abs <=> a.score.abs}.each do |question_rank|
      %tr
        %td
          - if question_rank.score > 0.0
            %i.text-success.glyphicon.glyphicon-arrow-up
          - else
            %i.text-danger.glyphicon.glyphicon-arrow-down
        %td.text-right= number_with_precision(question_rank.score, precision: 2)
        %td
          = question_rank.question.prompt
          %strong (#{displayable_response(question_rank.response)})
          %div.text-muted
            = render 'impact_equation', question_rank: question_rank
