= render 'report_nav'

%table.table.table-condensed
  %thead
    %tr
      %th Questions/Response
      %th.text-right Count
      %th.text-right Pct
  %tbody
    - @summary_report.questions.each do |question|
      - (key, label) = question
      - response_stats = @summary_report.stats[key] || []
      %tr.active
        %td{colspan: 4}= label
      - total = 0
      - response_stats.each do |response_stat|
        - total += response_stat[:count]
        %tr
          %td{style: 'padding-left:30px;'}= truncate(response_stat[:choice], length: 300)
          %td.text-right= response_stat[:count]
          %td.text-right= number_to_percentage(response_stat[:pct], precision: 0)
      
      %tr
        %th{style: 'padding-left:30px;'} Total responses
        %th.text-right= total
        %td
        