%h2 Order Audit Trail and Technical Details

#accordion.panel-group
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %span.glyphicon.glyphicon-plus
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseComments"}
          Comments
    #collapseComments.panel-collapse.collapse
      .panel-body
        :ruby
          comment = Comment.new({
            commentable_id: @order.id,
            commentable_type: @order.class.name
          })
        = simple_form_for [:admin, comment] do |f|
          = f.input :content, label: "Comment"
          = f.input :commentable_id, as: :hidden
          = f.input :commentable_type, as: :hidden
          %button.btn.btn-sm Save
        - @order.comments.order('created_at desc').each do |comment|
          .row
            .col-sm-2
              =format_date(comment.created_at)
            .col-sm-3
              %strong= comment.user.full_name
            .col-sm-7
              %p= comment.content

  - if @order.include_note?
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %span.glyphicon.glyphicon-plus
          %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
            Note from customer
      #collapseOne.panel-collapse.collapse
        .panel-body{style: 'white-space: pre;'}
          = @order.note_content

  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %span.glyphicon.glyphicon-plus
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
          Order Changes
    #collapseTwo.panel-collapse.collapse
      .panel-body
        = render "versions", versions: @order.versions

  - if @order.charge.present?
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %span.glyphicon.glyphicon-plus
          %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree"}
            Charge Changes
      #collapseThree.panel-collapse.collapse
        .panel-body
          = render "versions", versions: @order.charge.versions

  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %span.glyphicon.glyphicon-plus
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFour"}
          Raw Data
    #collapseFour.panel-collapse.collapse
      .panel-body
        = render "raw_data", order: @order

:javascript
  $(document).ready(function(){
    // Add minus icon for collapse element which is open by default
    $(".collapse.in").each(function(){
      $(this).siblings(".panel-heading").find(".glyphicon").addClass("glyphicon-minus").removeClass("glyphicon-plus");
    });

    // Toggle plus minus icon on show hide of collapse element
    $(".collapse").on('show.bs.collapse', function(){
      $(this).parent().find(".glyphicon").removeClass("glyphicon-plus").addClass("glyphicon-minus");
    }).on('hide.bs.collapse', function(){
      $(this).parent().find(".glyphicon").removeClass("glyphicon-minus").addClass("glyphicon-plus");
    });
  });
