.row
  .col-sm-12
    = link_to '« Back to Customer Orders', admin_ecommerce_customer_orders_path
    %h1
      Customer Order
      = @order.order_number
      = link_to 'Cancel Order', admin_ecommerce_customer_order_path(@order), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-xs'

.row
  .col-sm-3
    %p
      %b Ship To:
      %br
      :ruby
        address_lines = [
          @order.recipient_name,
          @order.ship_street1,
          @order.ship_street2,
          @order.ship_street3,
          "#{@order.ship_city}, #{@order.ship_state} #{@order.ship_zip}",
          @order.ship_country
        ].select(&:present?)
      - address_lines.each do |line|
        = line
        %br

.row
  .col-sm-12
    %table.table.table-striped
      %thead
        %tr
          %th Item
          %th SKU
          %th Vendor
          %th Purchase Order
          %th.text-right Quantity
          %th.text-right Price Each
          %th.text-right Total Price

      %tbody
        - @order.line_items.each do |line_item|
          %tr
            %td
              %i= line_item.name
            %td= line_item.orderable.wrapt_sku
            %td
              = link_to line_item.vendor_name, admin_vendor_path(line_item.vendor)
            %td
              :ruby
                purchase_orders = PurchaseOrder.where({
                  customer_order: @order,
                  vendor: line_item.vendor,
                  gift: line_item.orderable
                })
              - purchase_orders.each do |po|
                = link_to po.order_number, admin_ecommerce_purchase_order_path(po)
                %br
            %td.text-right= line_item.quantity
            %td.text-right= number_to_currency(line_item.price_per_each_in_dollars)
            %td.text-right
              %i= number_to_currency(line_item.total_price_in_dollars)

        %tr{style: 'border-top-style: double'}
          %td
            %i Sub-total
          %td
          %td
          %td
          %td
          %td
          %td.text-right
            %b= number_to_currency(@order.subtotal_in_dollars)

        %tr
          %td
            %i Shipping
          %td
          %td
          %td
          %td
          %td
          %td.text-right
            %i= number_to_currency(@order.shipping_in_dollars)

        %tr
          %td
            %i Taxes
          %td
          %td
          %td
          %td
          %td
          %td.text-right
            %i= number_to_currency(@order.taxes_in_dollars)

        %tr{style: 'border-top-style: double'}
          %td
            %i Total
          %td
          %td
          %td
          %td
          %td
          %td.text-right
            %b= number_to_currency(@order.total_to_charge_in_dollars)

=render 'details'
