.row
  .col-sm-12
    %h1 E-Commerce

.row
  .col-sm-12
    %table.table
      %tr
        %td= link_to 'Inventory', admin_ecommerce_inventory_items_path
      %tr
        %td= link_to 'Customer Orders', admin_ecommerce_customer_orders_path
      %tr
        %td= link_to 'Vendor Purchase Orders', admin_ecommerce_purchase_orders_path
      %tr
        %td= link_to 'Vendor Billing', admin_ecommerce_billings_path
      %tr
        %td= link_to 'Stats', admin_ecommerce_stats_path
      %tr
        %td= link_to 'Promo Codes', admin_ecommerce_promo_codes_path
      %tr
        %td= link_to 'Boxes', admin_ecommerce_parcels_path
