= simple_form_for(@profile_set) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.association :survey, disabled: !@profile_set.new_record?

  .form-actions
    = f.button :submit, 'Save'
