= simple_form_for(@training_set_product_question, url: url) do |f|
  = f.error_notification

  .form-inputs
    = f.association :product
    = f.association :survey_question, label: 'Question', label_method: :prompt, collection: @training_set.survey.questions

  .form-actions
    = f.button :submit, "Save"
