%p#notice= notice

%p
  %b Training set:
  = @training_set_product_question.training_set
%p
  %b Product:
  = @training_set_product_question.product
%p
  %b Question:
  = @training_set_product_question.question

= link_to 'Edit', edit_training_set_product_question_path(@training_set_product_question)
\|
= link_to 'Back', training_set_product_questions_path
