.row.admin__intro
  .col-sm-12
    %h1 Profile Trait Training Sets

.row.admin__actions
  .col-sm-12
    = link_to 'Add a Profile Trait Training Set', new_trait_training_set_path, class: 'btn btn-primary'

.row
  .col-sm-12
    %table.table
      %thead
        %tr
          %th Name
          %th Survey
          %th View Trait Matches
          %th

      %tbody
        - @trait_training_sets.each do |trait_training_set|
          %tr
            %td= trait_training_set.name
            %td= trait_training_set.survey.title
            %td
              %select
                - trait_training_set.survey.profile_sets.each do |profile_set|
                  %option
                  %option= profile_set.name
            %td
              = link_to 'Details', edit_trait_training_set_path(trait_training_set), class: 'btn btn-default btn-xs'
              = link_to 'Questions', trait_training_set_questions_path(trait_training_set), class: 'btn btn-default btn-xs'
              = link_to 'Delete', trait_training_set, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-xs'
