%h1 Training Set Evaluations

= simple_form_for @training_set_evaluation, html: {class: 'form form-inline'} do |form|
  = form.association :training_set, label: false
  = form.submit 'Evaluate', class: 'btn btn-success'


- if @training_set_evaluations.any?
  %table.table
    %thead
      %tr
        %th Training Set
        %th Evaluated At
        %th
    %tbody
      - @training_set_evaluations.each do |evaluation|
        %tr
          %td= evaluation.training_set.name
          %td= evaluation.created_at.strftime "%-m/%-d/%Y %l:%M %p"
          %td= link_to "View Recommendations", evaluation, class: 'btn btn-primary btn-xs'

= paginate @training_set_evaluations