.row.admin__intro
  .col-sm-12
    %h1 Profile Trait Topics

.row.admin__actions
  .col-sm-12
    = link_to link_to 'Add a Topic', new_profile_traits_topic_path, class: 'btn btn-primary'

.row
  .col-sm-6
    %table.table
      %thead
        %tr
          %th Name
          %th

      %tbody
        - @profile_traits_topics.each do |profile_traits_topic|
          %tr
            %td= profile_traits_topic.name
            %td
              = link_to 'Edit', edit_profile_traits_topic_path(profile_traits_topic), class: 'btn btn-default btn-xs'
              = link_to 'Facets', profile_traits_topic_facets_path(profile_traits_topic), class: 'btn btn-default btn-xs'
              = link_to 'Delete', profile_traits_topic, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-xs'
