= simple_form_for @survey_question, url: url do |f|
  = f.error_notification

  .form-inputs
    = f.input :prompt
    = f.input :secondary_prompt, label: "Prompt for additional text response, e.g. \'Other\' or \'Please Describe\' (Optional)"

  .form-actions
    = f.button :submit, 'Save'