
= simple_form_for @training_set_product_question, url: training_set_product_question_impact_path(@training_set, @training_set_product_question), html: {class: 'form edit_training_set_product_question'} do |f|
  = f.error_notification

  .form-inputs
    = render 'product_question_details'

    .form-group
      %h3 Overall Question Importance
      
      .slider-with-labels.clearfix
        %span.slider-label.slider-label__min Low
        = f.input :question_impact, label: false, wrapper: false, input_html: { data: {provide: 'slider', slider_min: -1, slider_max: 1, slider_step: '.01', slider_tooltip: 'hide', slider_value: (f.object.question_impact), slider_selection: 'none' }}
        %span.slider-label.slider-label__max High
  .form-actions
    = f.submit "Save Importance", class: 'btn btn-primary'


%h3 Response Impacts
%table.table
  %thead
    %tr
      %th Direction
      %th Impact
  %tbody
    %tr
      %td= @training_set_product_question.survey_question.min_label
      %td.slider-control= @training_set_product_question.range_impact_direct_correlation? ? 'Negative' : 'Positive'
    %tr
      %td= @training_set_product_question.survey_question.max_label
      %td= @training_set_product_question.range_impact_direct_correlation? ? 'Positive' : 'Negative'

= simple_form_for RangeImpactCorrelationSwitching.new(@training_set_product_question), url: training_set_product_question_impact_range_impact_correlation_switchings_path(@training_set, @training_set_product_question) do |f|
  .form-actions
    = f.button :submit, "Switch Direction", class: 'btn btn-primary'
