%nav.navbar.navbar-inverse.navbar-static-top
  .container
    .navbar-header
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li{class: ("active" if active_top_nav_section == 'home_pages')}
          = link_to "Wrapt Home", root_path
        %li.divider-vertical
        %li{class: ("active" if active_top_nav_section == 'gifts')}= link_to "Gifts", admin_gifts_path
        %li{class: ("active" if active_top_nav_section == 'products')}= link_to "Products", admin_products_path
        %li{class: ("active" if active_top_nav_section == 'vendors')}= link_to "Vendors", admin_vendors_path
        %li{class: ("active" if active_top_nav_section == 'product_categories')}= link_to "Product Categories", admin_product_categories_path
        %li{class: ("active" if active_top_nav_section == 'ecommerce')}= link_to "E-commerce", admin_ecommerce_path
        %li.divider-vertical
        %li{class: ("active" if active_top_nav_section == 'surveys')}= link_to "Quizzes", admin_surveys_path
        %li.divider-vertical
        -# %li{class: ("active" if active_top_nav_section == 'profile_traits')}= link_to "Giftee Traits", admin_giftee_traits_topics_path
        -# %li{class: ("active" if active_top_nav_section == 'profile_sets')}= link_to "Response Sets", admin_giftee_sets_path
        -# %li{class: ("active" if active_top_nav_section == 'training_sets')}= link_to "Gift Training Sets", admin_training_sets_path
        -# %li{class: ("active" if active_top_nav_section == 'trait_training_sets')}= link_to "Giftee Trait Training Sets", admin_trait_training_sets_path
        %li{class: ("active" if active_top_nav_section == 'reports')}= link_to "Reports", admin_reports_path
        %li.divider-vertical
        %li{class: ("active" if active_top_nav_section == 'users')}= link_to "Manage Users", admin_users_path

