- gift = locals[:gift]
- gr = locals[:gift_recommendation]
.gr-carousel__gift.clearfix
  .gr-carousel__gift-image
    - gift_images = load_gift_image_carousel_data(gift.gift_images)
    = carousel(carousel: gift_images, unique_carousel_name: 'gr-image-carousel', slide_content_singular: 'image', container:'.gr-carousel')
  .gr-carousel__gift-content.pa2
    .gr-carousel__dislike.text-right.pb1{data: {gift_recommendation_id: gr.id}}
      = render 'gift_dislike', gift_recommendation: gr, profile: @profile
    %h3= gift.name
    .gr-carousel__gift-details
      %p= gift.description
      - unless gift.single_product_gift?
        %p.small INCLUDED IN GIFT
        %ul
          - gift.products.each do |product|
            %li.small= product.description || product.title
    .gr-carousel__gift-actions.pa2
      %div
        = form_for GiftSelection.new(gift: gift, profile: @profile), url: profile_gift_selections_path(@profile), html: {data: {remote: true}} do |form|
          = form.hidden_field :gift_id
          %h3.gr-carousel__price
            = number_to_currency gift.selling_price
          .gr-carousel__quantity.text-right
            = form.submit 'ADD TO BASKET', class: 'btn btn-primary'
