- gift = locals[:gift]
- gr = locals[:gift_recommendation]
.gr-carousel__gift.clearfix
  .gr-carousel__gift-image
    - gift_images = load_gift_image_carousel_data(gift.gift_images)
    = carousel(carousel: gift_images, unique_carousel_name: 'gr-image-carousel', slide_content_singular: 'image', container:'.gr-carousel')
  .gr-carousel__gift-content.pa2
    .gr-carousel__dislike.text-right.pb1{data: {gift_recommendation_id: gr.id}}
      = render 'gift_dislike', gift_recommendation: gr, profile: @profile
    %h3= gift.name
    .gr-carousel__gift-details
      %p= gift.description
      %p.small INCLUDED IN GIFT
      -# PLACEHOLDER
      %ul
        %li.small 8 oz gourmet salt blend; Himalayan pink, Alder smoked, Red Hawaiian, Molokai black and French Sea salt
        %li.small Ceramic salt well made in Peru
    .gr-carousel__gift-actions.pa2
      -# PLACEHOLDER
      %div
        %h3.gr-carousel__price
          $130.00
        .gr-carousel__quantity.text-right
          = link_to 'ADD TO CART', '#', class: 'btn btn-primary'
