.wrapt-carousel.gr-carousel{id: gr_carousel_id}
  = render 'gift_nav'
  .wrapt-carousel__slides.gr-carousel__gifts
    .wrapt-carousel__slide.gr-carousel__gift-container{class: direction_css_class}
      = render 'gift'
  = render 'gift_indicators'

- @product_data = analytics_product_info(@gift, @profile, {position: @gift_index+1})

- content_for :page_js do
  :javascript
    new window.GiftCarousel('#{gr_carousel_selector}', '.gr-carousel__indicators', '.gr-carousel__gift-container', '.gr-carousel__indicators-small')

    //Google Analytics Enhanced Ecommerce
    var product = #{@product_data};
    ga('ec:addProduct', product);
    ga('ec:setAction', 'detail');
    ga('send', 'event', 'ecommerce', 'view product');
    