.wrapt-carousel.gr-carousel{id: gr_carousel_id}
  = render 'gift_nav'
  .wrapt-carousel__slides.gr-carousel__gifts
    .wrapt-carousel__slide.gr-carousel__gift-container{class: direction_css_class}
      = render 'gift'
  = render 'gift_indicators'

- content_for :page_js do
  :javascript
    new window.GiftCarousel('#{gr_carousel_selector}', '.gr-carousel__indicators', '.gr-carousel__gift-container', '.gr-carousel__indicators-small')

    //Google Analytics Enhanced Ecommerce
    var productData = {
      'id': '#{@gift.wrapt_sku}',
      'name': '#{@gift.title}',
      'category': '#{@gift.product_category.try(:name)}/#{@gift.product_subcategory.try(:name)}',
      'brand': '#{@gift.wrapt_sku.split('-')[1]}',
      'position': '#{@gift_index+1}',
      'price': '#{number_to_currency @gift.selling_price}',
      'dimension1': '#{analytics_gifter_id || -1}',
      'dimension4': 'n/a'
    };
    ga('ec:addProduct', productData);
    