.container
  .row
    .col-xs-12
      %h1.text-center
        = "#{@profile.name}'s Gift Recommendations"
      %p.lead.tan-002.ph2.text-center
        ="Wrapt<sup class='trademark'>&#8482;</sup> found these #{@gift_recommendations.count} items uniquely suited to #{@profile.name} based on her personality, passions, & purpose.".html_safe
      %p.text-center
        Add those items to the cart that you would purchase. Rate the others for future occasions, we’ll keep them in your account. 
  .row.wrapt-carousel--wrapper
    .col-xs-12
      - gifts = load_gift_recommendation_carousel_data(@gift_recommendations)
      = carousel(carousel: gifts, unique_carousel_name: 'gr-carousel', slide_content_singular: 'gift')
      
      
  %p
    - if current_user&.unmoderated_testing_platform? || current_user&.admin?
      = link_to "MVP1B Testing Survey", new_mvp1b_user_survey_path, class: 'btn'

- content_for :page_js do
  = render '/application/carousel_js'
  :javascript
    new App.GiftLikeDislikeButtons();
