.container
  %h2.text-center
    = "#{@profile.name}'s Gift Recommendations"
  %p.small.text-center
    ="See a gift you like but not sure it's right for the occasion? Like it. Find a gift you want to 'send' to #{@profile.name}? Add it to you figt basket & 'send' it. Sending a gift in beta simpy sends an email to your giftee nootifying them of the gift you have selected, explaining why they recieved the email."
  - gifts = load_gift_recommendation_carousel_data(@gift_recommendations)
  = carousel(carousel: gifts, unique_carousel_name: 'gr-carousel', slide_content_singular: 'gift')

= render 'gift_basket'
- content_for :page_js do
  = render '/application/carousel_js'
  :javascript
    $(document).ready(function() {
      $('[data-behavior=dislike-reason]').change(function() {
        var form = $(this).parents('[data-behavior=dislike-form]');
        form.submit();
      });
    });
