.container
  .row
    .col-xs-12
      %h1.text-center
        = "#{@profile.name}'s Gift Recommendations"
      %p.lead.tan-002.ph2.text-center
        ="Wrapt found these 5 items uniquely suited to #{@profile.name} based on her personality, passions & purpose."
  .row.wrapt-carousel--wrapper
    .col-xs-12
      - gifts = load_gift_recommendation_carousel_data(@gift_recommendations)
      = carousel(carousel: gifts, unique_carousel_name: 'gr-carousel', slide_content_singular: 'gift')

- content_for :page_js do
  = render '/application/carousel_js'
  :javascript
    $(document).ready(function() {
      $('[data-behavior=dislike-reason]').change(function() {
        var form = $(this).parents('[data-behavior=dislike-form]');
        
        // advance the form after 2 seconds
        window.setTimeout(function() {
          $('.gr-carousel__nav.next').click()  
        }, 1000)
        form.submit();
      });
    });
