.container
  .row
    .col-xs-12
      %h1.text-center
        = "#{@profile.name}'s Gift Recommendations"
      %p.lead.tan-002.ph2.text-center
        ="Wrapt found these #{@gift_recommendations.count} items uniquely suited to #{@profile.name} based on her personality, passions, & purpose.".html_safe
      .recommendations-intro__next-step
        %ol
          %li
            Add items to the basket that you would purchase if Wrapt was fulfilling orders at this time. 
          %li
            Rate the others (like/dislike) for future occasions: we’ll keep them in your account.
          %li
            Open the Gift Basket, and share the gift recommendations you chose with your giftee (if you’re willing, of course. It will really help us to learn).
          %li
            Once you've reviewed the gifts, simply 
            = succeed "." do
              = link_to "answer a few questions about Wrapt", new_mvp1b_user_survey_path, class: 'link--white-on-blue'
  .row.wrapt-carousel--wrapper
    .col-xs-12
      - gifts = load_gift_recommendation_carousel_data(@gift_recommendations)
      = carousel(carousel: gifts, unique_carousel_name: 'gr-carousel', slide_content_singular: 'gift')
      
      
  %p.text-center
    = link_to "Answer a few questions about Wrapt", new_mvp1b_user_survey_path, class: 'btn btn-primary'

- content_for :page_js do
  = render '/application/carousel_js'
  :javascript
    new App.GiftLikeDislikeButtons();
