.row
  .col-sm-12
    %h1
      Edit Gift:
      = @gift.title

.row
  .col-sm-8
    %ul.nav.nav-tabs
      %li(role="presentation")= link_to 'Details', edit_gift_path(@gift)
      %li(role="presentation" class="active")= link_to 'Products', gift_products_path(@gift)
      %li(role="presentation")= link_to 'Images', gift_images_path(@gift)

.row
  .col-sm-8
    %h3 Products in this Gift
    - if @gift.gift_products.empty?
      %i None yet, add some below!
    - else
      %table.table
        %thead
          %th
          %th Title
          %th Units Available 
          %th Wrapt SKU
          %th
        %tbody
          - @gift.gift_products.preload(product: :primary_product_image).each do |gift_product|
            - product = gift_product.product
            %tr
              %td(style="text-align: center;")
                - if product.primary_product_image.present?
                  = image_tag product.primary_product_image.image_url(:small), style: 'max-height: 50px; align: center;'
              %td= product.title
              %td= product.wrapt_sku
              %td= link_to 'Remove', gift_product_path(@gift, gift_product, context_params), method: 'delete', data: {confirm: 'Are you sure?'}, class: 'btn btn-xs btn-danger'

.row
  .col-sm-8
    %h3 Add Products to this Gift
    %form.form-inline(method="GET")
      .form-group
        %input{type: 'hidden', name: 'page', value: params[:page]}
        %input.form-control{type: 'search', name: 'q', value: params[:q], placeholder: 'Title or SKU'}
        %button.btn.btn-primary
          %i.glyphicon.glyphicon-search
          Search
        = link_to 'Show All', gift_products_path(@gift, context_params.merge(q: nil)), class: 'btn btn-default'

    - if @available_products.empty?
      %p(style="margin-top: 10px;")
        %i None found
    - else
      %table.table.admin__gift-available-products
        %thead
          %th
          %th Title
          %th Wrapt SKU
          %th Units Available 
          %th
        %tbody
          - @available_products.each do |product|
            %tr
              %td(style="text-align: center;")
                - if product.primary_product_image.present?
                  = image_tag product.primary_product_image.image_url(:small), style: 'max-height: 50px; align: center;'
              %td= product.title
              %td= product.wrapt_sku
              %td= number_with_delimiter product.units_available
              %td= link_to 'Add', gift_products_path(@gift, context_params.merge(gift_product: {product_id: product.id})), method: 'post', class: 'btn btn-xs btn-primary'

    = paginate @available_products