.row
  .col-sm-12
    %h1
      Edit Gift:
      = @gift.title

.row
  .col-sm-8
    %ul.nav.nav-tabs
      %li(role="presentation")= link_to 'Details', edit_gift_path(@gift)
      %li(role="presentation" class="active")= link_to 'Products', gift_products_path(@gift)
      %li(role="presentation")= link_to 'Images', gift_images_path(@gift)

.row
  .col-sm-8
    %h3 Products in this Gift
    - if @gift.gift_products.empty?
      %i None yet, add some below!
    %table.table
      %tbody
        - @gift.gift_products.preload(product: :primary_product_image).each do |gift_product|
          - product = gift_product.product
          %tr
            %td.admin-index-table--image-cell
              - if product.primary_product_image.present?
                = image_tag product.primary_product_image.image_url(:small), class: 'admin-index-table--image'
            %td= product.title
            %td= link_to 'Remove', gift_product_path(@gift, gift_product, context_params), method: 'delete', data: {confirm: 'Are you sure?'}, class: 'btn btn-xs btn-danger'

.row
  .col-sm-8
    %h3 Add Products to this Gift
    %form.form-inline(method="GET")
      .form-group
        %input{type: 'hidden', name: 'page', value: params[:page]}
        %input.form-control{type: 'search', name: 'q', value: params[:q]}
        %button.btn.btn-primary
          %i.glyphicon.glyphicon-search
          Search
        = link_to 'Show All', gift_products_path(@gift, context_params.merge(q: nil)), class: 'btn btn-default'

    %table.table.admin__gift-available-products
      %tbody
        - @available_products.each do |product|
          %tr
            %td.admin-index-table--image-cell
              - if product.primary_product_image.present?
                = image_tag product.primary_product_image.image_url(:small), style: 'max-height: 50px; align: center;'
            %td= product.title
            %td= link_to 'Add', gift_products_path(@gift, context_params.merge(gift_product: {product_id: product.id})), method: 'post', class: 'admin-index-table--image'

    = paginate @available_products