.row.admin__intro
  .col-sm-12
    %h1 Training Sets

    %p 
      Training Sets drive the recommendation engine. From here you can:
    %ol
      %li
        Create a training set (give it a name and pick the related quiz)
      %li
        For each product, identify the overall relevance of the question to the product as well as the relative impact of each response to the product's recommendation
      %li
        View the recommendations the training set would produce
    %p
      After viewing the recommendations, you might adjust the impacts in the training set, or create an entirely new training set to see how different weights result in different recommendations.
    %p
      The goal is to create a training set that results in the best recommendations. In the next release, we'll add the ability to select the training set that will drive the recommendations.

.row.admin__actions
  .col-sm-12
    = link_to 'New Training Set', new_admin_training_set_path, class: 'btn btn-primary'

.row
  .col-sm-12
    %table.table
      %thead
        %tr
          %th Name
          %th Quiz
          %th

      %tbody
        - @training_sets.preload(:survey).each do |training_set|
          %tr
            %td
              = training_set.name
              - if training_set.published?
                %span.label.label-default Published
            %td= training_set.survey&.title
            %td
              = link_to 'View', admin_training_set_path(training_set), class: 'btn btn-xs btn-default'
              = link_to "Recommendations", admin_training_set_evaluation_path(training_set), class: 'btn btn-xs btn-default'
              = link_to 'Delete', [:admin, training_set], :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-xs btn-danger'


