.row
  .col-sm-12
    = link_to '« Back to Purchase Orders', admin_ecommerce_purchase_orders_path
    %h1
      Purchase Order
      = @order.order_number
      = link_to 'Resend notification to vendor', resend_notification_admin_ecommerce_purchase_order_path(@order), :method => :put, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-warning btn-xs'
      = link_to 'View confirmation page for vendor', ecommerce_vendor_confirmation_path(id: @order.vendor_token), class: 'btn btn-default btn-xs'
      - if @shipping_label.present?
        = link_to 'View Shipping Label', @order.shipping_label.url, target: '_blank', class: 'btn btn-default btn-xs'
    %h4
      Associated with customer order
      = link_to @order.customer_order.order_number, admin_ecommerce_customer_order_path(@order.customer_order)

.row
  .col-sm-3
    %p
      %b Ship From:
      %br
      :ruby
        address_lines = [
          @vendor.name,
          @vendor.street1,
          @vendor.street2,
          @vendor.street3,
          "#{@vendor.city}, #{@vendor.state} #{@vendor.zip}",
          @vendor.country
        ].select(&:present?)
      - address_lines.each do |line|
        = line
        %br

  .col-sm-3
    %p
      %b Ship To:
      %br
      :ruby
        address_lines = [
          @order.recipient_name,
          @order.ship_street1,
          @order.ship_street2,
          @order.ship_street3,
          "#{@order.ship_city}, #{@order.ship_state} #{@order.ship_zip}",
          @order.ship_country
        ].select(&:present?)
      - address_lines.each do |line|
        = line
        %br

  .col-sm-3
    %p
      %strong Status:
      = @order.status.titleize

  - if @shipping_label.present?
    .col-sm-3
      %p
        %strong Shipping Information:
        %br
        %strong ETA:
        =@shipping_label.eta || 'N/A'
        %br
        %strong Carrier:
        =@shipping_label.carrier
        =@shipping_label.service_level
        %br
        %strong Tracking Status:
        =@shipping_label.tracking_status || 'N/A'
        %br
        %strong Tracking Link:
        = link_to @shipping_label.tracking_url, target: '_blank' do
          = @shipping_label.tracking_number
        %br
        %strong Tracking Updated At:
        = format_date(@shipping_label.tracking_updated_at)
  - else
    .col-sm-3
      %p
        %strong Vendor Confirmation:
        = @order.vendor_acknowledgement_status
        %br
        %strong Vendor Reason:
        = @order.vendor_acknowledgement_reason

.row
  .col-sm-12
    %table.table.table-striped
      %thead
        %tr
          %th Item
          %th SKU
          %th Vendor
          %th.text-right Quantity
          %th.text-right Price Each
          %th.text-right Total Price

      %tbody
        - @order.line_items.each do |line_item|
          %tr
            %td
              = link_to(admin_product_path(line_item.orderable)) do
                %i= line_item.orderable.title
            %td= line_item.orderable.wrapt_sku
            %td
              = link_to line_item.vendor_name, admin_vendor_path(line_item.vendor)

              :ruby
                gift = @order.gift

            %td.text-right= line_item.quantity
            %td.text-right= number_to_currency(line_item.price_per_each_in_dollars)
            %td.text-right
              %i= number_to_currency(line_item.total_price_in_dollars)

        %tr{style: 'border-top-style: double'}
          %td
            %i Total
          %td
          %td
          %td
          %td
          %td.text-right
            %b= number_to_currency(@order.total_due_in_dollars)
