.row
  .col-sm-12
    %h1 New Gift-Question
.row
  .col-sm-6
    = simple_form_for( [:admin, @gift_question_impact], url: admin_training_set_gift_question_impacts_path(@training_set)) do |f|
      = f.error_notification

      .form-inputs
        = f.association :gift
        = f.association :survey_question, label: 'Question', label_method: :prompt, collection: @training_set.survey.questions.not_text

      .form-actions
        = f.button :submit, "Save"
