.new-quiz__after-wrapper.bg-blue-004
  .container
    .row
      .col-xs-12
        .new-quiz__about-intro-wrapper
          .new-quiz__about-intro-content.border-dark
            %h2 Our Own Collection
            %p Our collection includes Artisanal items, Experiences you can do together, and Funds that fulfill a practical wish or a bucket list dream from the whole gang.
        .new-quiz__gift-examples
          .new-quiz__gift-example
            .new-quiz__gift-example-image
              = image_tag 'gift-example__gift.png'
              .new-quiz__gift-example-badge
                = svg 'single-heart'
            .new-quiz__gift-example-text
              %h4.letter-spacing-01 Artisanal Items
              %p  ethically-sourced and made in the US or from global artisan enterprises.
          .new-quiz__gift-example
            .new-quiz__gift-example-image
              = image_tag 'gift-example__experience.png'
              .new-quiz__gift-example-badge
                = svg 'hearts-two'
            .new-quiz__gift-example-text
              %h4.letter-spacing-01 Experience it Together
              %p for you to share and create memories - we’ll even help you pull it off!
          .new-quiz__gift-example
            .new-quiz__gift-example-image
              = image_tag 'gift-example__fund.png'
              .new-quiz__gift-example-badge
                = svg 'hearts-three'
            .new-quiz__gift-example-text
              %h4.letter-spacing-01 Fund it with Others
              %p Along with family and friends, fund a practical wish or a bucket list dream of hers!
        .clearfix