.container
  .row
    .col-xs-12.col-sm-10.col-sm-offset-1
      .hero-overlay
        %h2.light
          Introducting Wrapt,
          a personalized gift whisperer to help you find gifts for the women in your life.
        %p.light We use the science of gifting and gratitude to match her personality, passions and purpose, to gifts she will love, no matter the occasion.
      
      .hero-overrun
        - if current_user&.admin?
          %p In MVP1a, when we invite people for testing, they will be taken to a special landing page.
          %p
            = link_to 'Tester Landing Page: Start a New Quiz', new_profile_path
        - else
          .sqr-progress.sqr-progress--one-question-only
          = simple_form_for @invitation_request, html: {class: 'sqr-form new-invite-request'} do |form|
            .form-inputs
              = form.input :email, label: 'What is your email address?', required: false
              = form.input :how_found, label: 'How did you hear about us?', as: :radio_buttons, collection: InvitationRequest::HOW_FOUNDS, label_method: :last, value_method: :first, wrapper_html: {class: 'labels-no-bottom-margin'}
          
            .form-actions.pull-right
              = form.submit 'Submit', class: 'btn btn-primary'
            .clearfix
      =render 'home/how_wrapt_works'

- content_for :after_wrapper do
  =render 'home/our_own_collection'




- if params[:password_reset_token]
  - content_for :page_js do
    :javascript
      new App.PjaxModalLoader(#{password_reset_path(params[:password_reset_token]).to_json})