.home__hero
  .container.home__hero-text
    .row
      .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
        %h1.light.text-center
          Gift Better.
          %br
          Gift Wrapt.
.container.home__hero-text-secondary
  .row
    .col-lg-8.col-lg-offset-2
      %p.home__hero-text-secondary__p.light.text-center
        We use the science of gifting to find the best gifts for her,
        %br
        while doing a little good in the world

  .container
    .row
      .hero-overrun.col-sm-10.col-sm-offset-1
        - if current_user&.admin?
          %p In MVP1a, when we invite people for testing, they will be taken to a special landing page.
          %p
            = link_to 'Tester Landing Page: Start a New Quiz', new_profile_path
            - test_surveys = Survey.where(test_mode: true)
            - if test_surveys.any?
              %p Select a quiz that is currently in test mode:
              %ul
                - test_surveys.each do |test_survey|
                  %li= link_to test_survey.title, new_profile_path(survey_id: test_survey.id)
        - else
          .sqr-progress.sqr-progress--one-question-only
          = simple_form_for @invitation_request, html: {class: 'sqr-form new-invite-request'} do |form|
            .form-inputs
              = form.input :email, label: 'What is your email address?', required: false
              = form.input :how_found, label: 'How did you hear about us?', as: :radio_buttons, collection: InvitationRequest::HOW_FOUNDS, label_method: :last, value_method: :first, wrapper_html: {class: 'labels-no-bottom-margin'}

            .form-actions.pull-right
              = form.submit 'Submit', class: 'btn btn-primary'
            .clearfix



- content_for :after_wrapper do
  = render 'home/after_wrapper'





- if params[:password_reset_token]
  - content_for :page_js do
    :javascript
      new App.PjaxModalLoader(#{password_reset_path(params[:password_reset_token]).to_json})
