.row
  .col-sm-12
    %h1
      = @order.name
      = link_to 'Cancel Order', admin_ecommerce_order_path(@order), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-xs'

.row
  .col-sm-6
    %p
      %b Order Number
      = @order.order_number

    %p
      %b Tracking (#{@order.carrier})
      = @order.tracking_number

  .col-sm-6


%table
  %thead
    %th
    %th
    %th
  %body
  - @order.line_items.each do |line_item|


- raise "WIP"
-#Gifts (SKU, Title), price and quantities
-#History of all status changes, payments and notifications
-#Customer shipping cost
-#Actual shipping cost (if we can get this after an item is delivered from the API)

%p
  %b Ship To:
  = @order.address
%p
  %b Ship From:
  = @order.contact_name
