.container
  .row
    .col-xs-12
      .ma-title.clearfix
        .ma-title__text.pull-left
          %h5
            = link_to 'Order History', my_account_orders_path
            = embedded_svg('icon-caret-right')
            Order # #{@order.order_number}
        .ma-title__action.pull-right

  .row
    .col-xs-12.col-md-10.col-md-offset-1
      .outline-container.outline-container__light-fade.mb2
        .outline-container__section.outline-container__header= "Your gift to #{@order.profile.name}"
        - @order.line_items.each do |item|
          - gift = item.orderable
          .outline-container__section
            = render 'ecommerce/checkout/edit_review_gift', gift: gift, customer_order: @order, edit_gift_wrapt: false
      .row
        .col-xs-12.col-md-8
          .outline-container.outline-container__light-fade
            .outline-container__section
              = render 'ecommerce/checkout/edit_review_detail_items', customer_order: @order
        .col-xs-12.col-md-4
          .outline-container
            .outline-container__section
              %h4.light Summary
              = render 'ecommerce/checkout/edit_review_summary_items', customer_order: @order
            .outline-container__section.co-ro-summary__total.clearfix
              %h4.light Total
              %h5.light=number_to_currency @order.total_to_charge_in_dollars
