= simple_form_for(@gift, html: {data: {behavior: 'form-loads-subcategories'}}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :description
    .row
      .col-xs-3
        = f.input :selling_price, wrapper: :vertical_input_group, label: 'Selling Price' do
          .input-group-addon $
          = f.input_field :selling_price, class: 'form-control', disabled: @gift.calculate_price_from_products?
        = f.input :calculate_price_from_products, label: 'Auto-Calculate Price from Products'
        = f.input :cost, wrapper: :vertical_input_group do
          .input-group-addon $
          = f.input_field :cost, class: 'form-control', disabled: @gift.calculate_cost_from_products?
        = f.input :calculate_cost_from_products, label: 'Auto-Calculate Cost from Products'
        %h3 Category
        = f.association :product_category, as: :select, collection: ProductCategory.top_level, input_html: {data: {behavior: 'product-category-input'}}
        = f.association :product_subcategory, as: :select, collection: (@gift.product_category&.children || []), input_html: {data: {behavior: 'product-subcategory-input'}}
        = f.input :wrapt_sku, label: 'Wrapt SKU', disabled: true
    = f.input :date_available, html5: true, label: 'Date Available'
    = f.input :date_discontinued, html5: true, label: 'Date Discontinued'

  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-primary'

:javascript
  new App.Admin.ProductSubcategoryLoader()
