= simple_form_for(@gift) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description
    = f.input :selling_price
    = f.input :cost
    = f.input :wrapt_sku
    = f.input :date_available
    = f.input :date_discontinued

  .form-actions
    = f.button :submit
