= simple_form_for(@gift) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :description
    .row
      .col-xs-2
        = f.input :selling_price, wrapper: :vertical_input_group, label: 'Selling Price' do
          .input-group-addon $
          = f.input_field :selling_price, class: 'form-control'
        = f.input :cost, wrapper: :vertical_input_group do
          .input-group-addon $
          = f.input_field :cost, class: 'form-control', disabled: @gift.calculate_cost_from_products?
        = f.input :calculate_cost_from_products, label: 'Auto-Calculate Cost from Products'
        = f.input :wrapt_sku, label: 'Wrapt SKU'
    = f.input :date_available, html5: true, label: 'Date Available'
    = f.input :date_discontinued, html5: true, label: 'Date Discontinued'

  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-primary'
