.row.admin__intro
  .col-sm-12
    %h1 Gifts

.row.admin__actions
  .col-sm-12
    = link_to 'Add a Gift', new_gift_path, class: 'btn btn-primary'

%table.table
  %thead
    %tr
      %th
      %th Title
      %th Description
      %th Wrapt SKU
      %th.text-right Selling price
      %th.text-right Availability
      %th

  %tbody
    - @gifts.each do |gift|
      %tr
        %td.admin-index-table--image-cell
          - if gift.primary_gift_image.present?
            = image_tag gift.primary_gift_image.image_url(:small), class: 'admin-index-table--image'
        %td= gift.title
        %td= gift.description
        %td= gift.wrapt_sku
        %td.text-right= number_to_currency gift.selling_price
        %td.text-right= gift.availability_string
        %td.admin-index-table--buttons-cell
          = link_to 'View', gift, class: 'btn btn-default btn-xs'
          = link_to 'Edit', edit_gift_path(gift), class: 'btn btn-default btn-xs'
          = link_to 'Delete', gift, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-xs'
