.row.admin__intro
  .col-sm-12
    %h1 Gifts

.row.admin__actions
  .col-sm-12
    = link_to 'Add a Gift', new_gift_path, class: 'btn btn-primary'

.row.admin__search
  .col-sm-12
    = form_for @gift_search, url: gifts_path, html: {method: 'GET', class: 'form-inline', data: {behavior: 'form-loads-subcategories'}} do |form|
      .form-group
        = form.search_field :keyword, placeholder: 'Title or SKU', class: 'form-control', style: 'min-width: 300px;'
        = form.collection_select :product_category_id, ProductCategory.categories, :id, :name, {prompt: 'Category'}, class: 'form-control', data: {behavior: 'product-category-input'}
        = form.collection_select :product_subcategory_id, ProductCategory.subcategories.where(parent_id: @gift_search.product_category_id), :id, :name, {prompt: 'Sub-category'}, class: 'form-control', data: {behavior: 'product-subcategory-input'}
        %button.btn.btn-primary
          %i.glyphicon.glyphicon-search
          Search
        = link_to 'Clear Search (Show All)', gifts_path, class: 'btn btn-default'

.row
  .col-sm-12
    %table.table
      %thead
        %tr
          %th
          %th Title & Description
          %th Categories
          %th Wrapt SKU
          %th.text-right Selling price
          %th.text-right Availability
          %th

      %tbody
        - @gifts.each do |gift|
          %tr
            %td.admin-index-table--image-cell
              - if gift.primary_gift_image.present?
                = image_tag gift.primary_gift_image.image_url(:small), class: 'admin-index-table--image'
            %td
              %h4.admin-index-table--item-title= gift.title
              .admin-index-table--item-description= gift.description
            %td
              - if gift.product_category.present?
                %span.label.label-default= gift.product_category&.name
              - if gift.product_subcategory.present?
                %span.label.label-default= gift.product_subcategory&.name
            %td= gift.wrapt_sku
            %td.text-right= number_to_currency gift.selling_price
            %td.text-right= gift.availability_string
            %td.admin-index-table--buttons-cell
              = link_to 'View', gift, class: 'btn btn-default btn-xs'
              = link_to 'Edit', edit_gift_path(gift), class: 'btn btn-default btn-xs'
              = link_to 'Delete', gift_path(gift, context_params), :method => :delete, :data => { :confirm => 'Are you sure you want to delete this gift?' }, class: 'btn btn-danger btn-xs'
    
    %p= paginate @gifts

- content_for :page_js do
  :javascript
    new App.Admin.ProductSubcategoryLoader({prompt: 'Sub-category'})
