.row.admin__intro
  .col-sm-12
    %h1 Gifts

.row.admin__actions
  .col-sm-12
    = link_to 'Add a Gift', new_gift_path, class: 'btn btn-primary'

%table.table
  %thead
    %tr
      %th
      %th Title
      %th Description
      %th Selling price
      %th Availability
      %th

  %tbody
    - @gifts.each do |gift|
      %tr
        %th(style="text-align: center;")
          - if gift.primary_gift_image.present?
            = image_tag gift.primary_gift_image.image_url(:small), style: 'max-height: 50px; align: center;'
        %td= gift.title
        %td= gift.description
        %td= gift.selling_price
        %td= gift.availability_string
        %td
          = link_to 'View', gift, class: 'btn btn-default btn-xs'
          = link_to 'Edit', edit_gift_path(gift), class: 'btn btn-default btn-xs'
          = link_to 'Delete', gift, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-xs'
