.row
  .col-sm-12
    %h1
      = @gift.title
      = link_to 'Edit', edit_gift_path(@gift), class: 'btn btn-default btn-xs'

    %p
      %span.label.label-default= @gift.product_category&.name
      %span.label.label-default= @gift.product_subcategory&.name

    %p
      %b Title:
      = @gift.title
    %p
      %b Description:
      = @gift.description
    %p
      %b Selling price:
      = @gift.selling_price
    %p
      %b Cost:
      = @gift.cost
    %p
      %b Wrapt sku:
      = @gift.wrapt_sku
    %p
      %b Date available:
      = @gift.display_date_available
    %p
      %b Date discontinued:
      = @gift.display_date_discontinued

    %h3 Products
    - if @gift.products.none?
      %p
        No products yet.
        = link_to 'Add some', gift_products_path(@gift)
    - else
      %table.table
        %thead
          %tr
            %th
            %th Title
            %th SKU
            %th Price
        %tbody
          - @gift.products.each do |product|
            %tr
              %td
                - if product.primary_product_image&.image?
                  = image_tag product.primary_product_image.image_url(:small), class: "admin-index-table--image"
              %td= link_to product.title, product
              %td= product.wrapt_sku
              %td= product.price

    %h3 Images
    - if @gift.gift_images.none?
      %p
        No images yet.
        = link_to "Add some", gift_images_path(@gift)
    - else      
      - @gift.gift_images.each do |gift_image|
        %p
          = image_tag gift_image.image_url(:small)
