- if importable.try(:row_errors).try(:any?)
  .form-group.has-error
    %span.help-block
      %ul
        - importable.row_errors.each do |row_number, row_error|
          %li
            Row #{row_number}
            %ul
              - row_error.each do |attribute, messages|
                - if attribute.is_a? Array
                  %li #{attribute.join(', ')}: #{messages.join(', ')}
                - else
                  %li #{attribute}: #{messages.join(', ')}
