%div{data: {behavior: 'hidden-option-id-inputs'}}
  = form.association :survey_question_options, as: :check_boxes, collection: @question_response.survey_question.options.standard, label_method: :text, input_html: {data: {behavior: 'option-id-input'}}
  - if @question_response.survey_question.other_option
    = form.association :survey_question_options, as: :check_boxes, collection: [@question_response.survey_question.other_option], label_method: :text, input_html: {data: {behavior: 'option-id-input other-option'}}

%label
  = label
  - if @question_response.survey_question.multiple_option_responses
    .hint.hint__inline Select All That Apply

- @question_response.survey_question.options.in_groups_of(5, false).each do |option_row|
  .row.option-row
    .col-xs-12
      - option_row.each do |option|
        = link_to option.text, '#', class: 'btn btn-default btn-multiple-choice-option', data: {behavior: 'option-button', option_id: option.id}


= form.input :other_option_text, as: :string, label: false, wrapper_html: { data: {behavior: 'other-text-input-wrapper'}, style: other_optional_text_init_style(@question_response)}, input_html: {data: {behavior: 'other-text-input'}}

.sqr-option-explanations.pa1
  - @question_response.survey_question.options.each do |option|
    - if option.explanation.present?
      .sqr-option-explanation{data: {behavior: 'option-explantion', option_id: option.id}}= option.explanation

- content_for :page_js do
  :javascript
      new App.MultipleChoiceForm({
        multipleOptionResponses: #{@question_response.survey_question.use_multiple_response_form?.to_json}
      })
