%div{data: {behavior: 'hidden-option-id-inputs'}}
  = form.association :survey_question_options, as: :check_boxes, collection: @question_response.survey_question.options.standard, label_method: :text, input_html: {data: {behavior: 'option-id-input'}}
  - if @question_response.survey_question.other_option
    = form.association :survey_question_options, as: :check_boxes, collection: [@question_response.survey_question.other_option], label_method: :text, input_html: {data: {behavior: 'option-id-input other-option'}}

%label= label
.hint Select All That Apply
- @question_response.survey_question.options.in_groups_of(5, false).each do |option_row|
  .row.option-row
    - option_row.each do |option|
      = link_to option.text, '#', class: 'btn btn-default btn-multiple-choice-option', data: {behavior: 'option-button', option_id: option.id}

= form.input :other_option_text, as: :string, label: false, wrapper_html: { data: {behavior: 'other-text-input-wrapper'} }, input_html: {data: {behavior: 'other-text-input'}}

- @question_response.survey_question.options.each do |option|
  - if option.explanation.present?
    %p{data: {behavior: 'option-explantion', option_id: option.id}}= option.explanation

- content_for :page_js do
  - if @question_response.survey_question.multiple_option_responses
    :javascript
      new App.MultipleChoiceChooseManyForm()