%div{data: {behavior: 'hidden-option-id-inputs'}}
  = form.association :survey_question_options, as: :check_boxes, collection: @question_response.survey_question.options.standard, label_method: :text, input_html: {data: {behavior: 'option-id-input'}}
  - if @question_response.survey_question.other_option
    = form.association :survey_question_options, as: :check_boxes, collection: [@question_response.survey_question.other_option], label_method: :text, input_html: {data: {behavior: 'option-id-input other-option'}}

%label= label
- @question_response.survey_question.options.in_groups_of(5, false).each do |option_row|
  .row.option-row
    - option_row.each do |option|
      = link_to option.text, '#', class: 'btn btn-default question_response__multiple_choice_button', data: {behavior: 'option-button', option_id: option.id}

- content_for :page_js do
  :javascript
      new App.MultipleChoiceForm({
        multipleOptionResponses: #{@question_response.survey_question.use_multiple_response_form?.to_json}
      })