.row
  .col-xs-12.col-sm-6
    - address_items = [@customer_order.recipient_name, @customer_order.ship_street1, @customer_order.ship_street2, "#{@customer_order.ship_city}, #{@customer_order.ship_state} #{@customer_order.ship_zip}"]
    = render 'edit_review_detail_item', header: 'Shipping Address', items: address_items
  .col-xs-12.col-sm-6
    - words = shipping_choice_to_human(@customer_order.shipping_choice)
    = render 'edit_review_detail_item', header: 'Shipping Method', items: [words]
