- rate = @customer_purchase.rate_for_gift(gift)

.row
  .col-xs-12
    .co-ro-item
      .co-ro-item__img
        - url = gift.primary_gift_image_with_fallback.image&.url(:small)
        - if url.present?
          = image_tag url, class: 'img-responsive', alt: gift.title
        - else
          %img{alt: gift.title}
      .co-ro-item__details
        %h4.light= gift.title
        - if show_price
          %h5.light= number_to_currency gift.selling_price
      .co-ro-item__shipping-and-status
        .co-detail
          .co-detail__label Shipping Details
          .co-detail__item
            = rate.carrier
          .co-detail__item
            Estimated Arrival
          .co-detail__item
            = rate.expected_delivery.text
          - if show_order_status
            .co-detail__label Status
            .co-detail__item= customer_order.status.titleize

