= simple_form_for @customer_order, url: url_for, method: :patch do |f|
  = f.input :gift_wrapt
  = f.input :include_note
  = f.input :note_from
  = f.input :note_to
  = f.input :note_content
  = f.submit

= render "debug", customer_order: @customer_order
