= link_to "« Gift Wrapt", url_for(action: :edit_gift_wrapt)

= simple_form_for @customer_order, url: url_for, method: :patch do |f|
  %label
    = radio_button_tag :toggle_address_choice, :ship_to_me
    Ship to me
  |
  %label
    = radio_button_tag :toggle_address_choice, :ship_to_giftee
    Ship to #{@profile.name}

  = f.input :ship_street1
  = f.input :ship_street2, label: 'Apt # or suite'
  = f.input :ship_city
  = f.input :ship_state
  = f.input :ship_zip
  = f.submit

= render "debug", customer_order: @customer_order
