.container
  = render 'header'
  .row
    .col-xs-12.col-md-10.col-md-offset-1
      .co-container
        %h3.light Shipping Information
        = simple_form_for @customer_order, url: url_for, method: :patch do |f|
          .co-toggle
            = f.input :ship_to, as: :wrapt_radio_toggle, collection: [['Ship to me', 'ship_to_customer'], ["Ship to #{@profile.name}", 'ship_to_giftee']], label: false
          .co-select-my-address.j-select-my-address.clearfix{style: @customer_order.ship_to_customer? ? '' : 'display:none;'}
            %h4.light Select Address
            = f.input :address_id, as: :wrapt_styled_radio_buttons, collection: @address_collection, label: false, nil_checked: 'new_address'
          .j-address{style: (@saved_addresses.any? && @customer_order.ship_to_customer? ? 'display:none;' : '')}
            .row
              .col-xs-12.col-md-10
                = f.input :ship_street1, label: 'Street Address'
              .col-xs-12.col-md-2
                = f.input :ship_street2, label: 'Apt / Suite #'
            .row
              .col-xs-12.col-md-8
                = f.input :ship_city, label: 'City'
              .col-xs-12.col-md-2
                = f.input :ship_state, label: 'State'
              .col-xs-12.col-md-2
                = f.input :ship_zip, label: 'Zip Code'
          %button.btn.btn-primary{type: 'submit', disabled: @customer_purchase.things_look_shipable? ? 'false' : 'true'}
            = "Next <svg class='btn__icon-caret-right'><use xlink:href='#icon-caret-right'></use></svg>".html_safe

  = render "debug", customer_order: @customer_order

- content_for :page_js do
  :javascript
    $(document).ready(function() {

      App.ShowSelectAddress('customer_order', 'ship_to', 'ship_to_customer', true, '.j-select-my-address')

      App.ShowAddressForm('customer_order', 'ship_to', false, true, '.j-address', 'new_address')

      App.ShowAddressForm('customer_order', 'address_id', 'new_address', true, '.j-address', 'new_address')

      var input_names = [
        'ship_street1',
        'ship_street2',
        'ship_city',
        'ship_state',
        'ship_zip'
      ]
      App.ClearForm('customer_order', input_names, '[name="customer_order[ship_to]"]', false)
      App.ClearForm('customer_order', input_names, '[name="customer_order[address_id]"]', 'new_address')

      App.EnableSubmitButton('customer_order', ['ship_street1', 'ship_city', 'ship_state', 'ship_zip'])
    })
