.container
  = render 'header'
  .row
    .col-xs-12.col-md-10.col-md-offset-1
      .co-container
        %h2.light Shipping Information

        = simple_form_for @customer_order, url: url_for, method: :patch do |f|
          .co-select-shipping.clearfix
            = f.input :shipping_choice, as: :wrapt_styled_radio_buttons, collection: @shipping_choices.map{|sc| [sc.annotated_label, sc.value]}, label: false

          - if @customer_order.shipping_choice.present?
            %button.btn.btn-primary{type: 'submit'}
              = next_button_text
          - else
            %button.btn.btn-primary{type: 'submit', disabled: 'disabled'}
              = next_button_text

  = render "debug", customer_order: @customer_order

- content_for :page_js do
  :javascript
    $(document).ready(function() {
      App.ShippingChoiceSubmitButton()
    })