.container
  = render 'header'
  .row
    .col-xs-12.col-md-10.col-md-offset-1
      .co-container
        %h3.light Payment Information
        .row
          = render 'payment_form'
          .col-xs-12.col-md-4
            .outline-container.outline-container__blue.form-group.co-ro-summary
              .outline-container__section
                %h4.light Summary
                = render 'edit_review_summary_items', customer_order: @customer_order
              .outline-container__section.co-ro-summary__total.clearfix
                %h4.light Total
                %h5.light=number_to_currency @customer_order.total_to_charge_in_dollars

  = render "debug", customer_order: @customer_order

= content_for :page_js do
  :javascript
    $('document').ready(function() {
      var stripeCharger = new App.StripeCharger("#{ENV['STRIPE_PUBLISHABLE_KEY']}");
      stripeCharger.activate();

      App.ShowBillingAddress('', 'same_billing_zip', 'true', false, '.j-zip-code')

      //Google Analytics Enhanced Ecommerce
      var products = #{@products_data}
      gaAddProduct(products);
      var actionData = #{@action_data}
      gaSetAction('checkout', actionData);
      ga('send', 'event', 'ecommerce', 'Checkout 4: Payment Info');
    })


