- if @load_in_modal
  .co-container
    = render 'edit_gift_wrapt_form'
- else
  .container
    = render 'header'
    .row
      .col-xs-12.col-md-10.col-md-offset-1
        .co-container
          = render 'edit_gift_wrapt_form'

  = render "debug", customer_order: @customer_order


- unless @load_in_modal
  -# if it loads in the modal they are editing
  - content_for :page_js do
    :javascript
      $(document).ready(function() {
        //Google Analytics Enhanced Ecommerce
        var products = #{@products_data}
        gaAddProduct(products);
        var actionData = #{@action_data};
        gaSetAction('checkout', actionData);
        ga('send', 'event', 'ecommerce', 'Checkout 1: Note');
      })

- content_for :page_js do
  :javascript
    $(document).ready(function() {
      App.NoteBehavior('customer_order', 'gift_wrapt', 'true', true, '.j-co-gift-wrapt__note-1')
      App.NoteBehavior('customer_order', 'include_note', '0', false, '.j-co-gift-wrapt__note-2')
    })