= simple_form_for(@survey_section, url: url) do |f|
  = f.error_notification

  .form-inputs
    = f.association :survey
    = f.input :name
    = f.input :sort_order

  .form-actions
    = f.button :submit, "Save"
