= simple_form_for @survey_question, url: url do |f|
  = f.error_notification

  .form-inputs
    = f.input :prompt
    = f.input :secondary_prompt, label: 'Prompt for explanatory text response'

  .form-actions
    = f.button :submit