%li{style: "margin-bottom: 10px;", data: {option_row: true, sortable_item: true, sortable_item_id: option.id}}
  = option.text
  = link_to edit_survey_question_option_path(@survey, @survey_question, option), data: {remote: true, edit_option_link: option.id} do
    %span.glyphicon.glyphicon-pencil(aria-hidden="true")
  = link_to edit_survey_question_option_image_path(@survey, @survey_question, option), data: {remote: true, edit_option_image_link: option.id} do
    %span.glyphicon.glyphicon-picture
  = link_to survey_question_option_path(@survey, @survey_question, option), data: {method: :delete, remote: true, delete_option_link: option.id} do
    %span.glyphicon.glyphicon-remove(aria-hidden="true")

- content_for :page_js do
  :javascript
    new App.Admin.SurveyQuestionBuilder.EditOptionLink($('[data-edit-option-link="#{option.id}"]')[0])

    new App.Admin.SurveyQuestionBuilder.DeleteOptionLink($('[data-delete-option-link="#{option.id}"]')[0])
