.row
  .col-sm-6.shadowed-box__01.form-panel__left
    %h2.heading__has-icon
      %i{class: @survey_question.system_type_label}
      Edit 
      = @survey_question.system_type_label.titlecase
      Question
    = simple_form_for @survey_question, url: survey_question_path(@survey, @survey_question) do |form|

      .form-inputs
        = form.input :prompt
        = form.input :code, hint: '(required for importing)'
        = render form_fields_partial(@survey_question), form: form
        = form.input :conditional_display, as: :boolean, label: 'Display this question conditionally', input_html: {data: {behavior: 'toggle-conditional-question-fields'}}
        %div(data-behavior="conditional-question-fields" style="display: none;")
          = form.association :conditional_question, label: 'Show this question if the answer to:', prompt: 'Select question', collection: @survey.multiple_choice_questions.where.not(id: @survey_question.id), label_method: 'prompt', input_html: {data: {behavior: 'conditional-question-id-input'}}
          %div{data: {behavior: "conditional-question-options-container", conditional_question_options_url_base: "/surveys/#{@survey.id}/questions/#{@survey_question.id}/conditional_question_options"}}
            = render 'conditional_question_options/show', conditional_question: @survey_question.conditional_question

      .form-actions
        = form.submit 'Save', class: 'btn btn-primary'

  .col-sm-6.preview
    %h2 Preview

    %h3= @survey_question.prompt

    = render preview_partial(@survey_question)

- content_for :page_js do
  :javascript
    new App.Admin.ConditionalQuestionFields()