%row(data-survey-question-builder)
  .col-sm-6
    %h2.heading__has-icon
      %i.multiple-choice 
      Edit Multiple-Choice Question
    = simple_form_for @survey_question, url: survey_question_path(@survey, @survey_question) do |form|

      .form-inputs
        = form.input :prompt

      .form-actions
        = form.submit 'Save Prompt', class: 'btn btn-primary'

    %h3 Choices
    %ol(style="list-style: lower-alpha; padding-left: 15px;" data-option-list)
      - @survey_question.options.each do |option|
        = render 'option_row', option: option

    = simple_form_for @survey_question_option, url: survey_question_options_path(@survey, @survey_question), remote: true, html: {class: 'form form-inline', data: {new_option_form: true, type: 'html'}} do |option_form|
      = option_form.input :text, label: false, as: :string, input_html: {data: {new_option_text: true}}
      = option_form.submit 'Add New Option', class: 'btn btn-primary', data: {disable_with: 'Adding...'}


  .col-sm-6
    %h2 Preview

    %h3= @survey_question.prompt

    = render preview_partial(@survey_question)

= content_for :page_js do
  :javascript
    new App.Admin.SurveyQuestionBuilder.Controller($('[data-survey-question-builder]')[0]);