.row
  .col-sm-6.shadowed-box__01.form-panel__left
    %h2.heading__has-icon
      %i{class: @survey_question.system_type_label}
      Edit 
      = @survey_question.system_type_label.titlecase
      Question
    = simple_form_for @survey_question, url: survey_question_path(@survey, @survey_question) do |form|

      .form-inputs
        = form.input :prompt
        = form.input :code, hint: '(required for importing)'
        = render form_fields_partial(@survey_question), form: form

      .form-actions
        = form.submit 'Save', class: 'btn btn-primary'

  .col-sm-6
    %h2 Preview

    %h3= @survey_question.prompt

    = render preview_partial(@survey_question)