%h1 Recommendation Breakdown for #{@recommendation.product.title}

%p
  %b Survey Response:
  = @recommendation.survey_response.name

%p
  %b Overall Score:
  = @recommendation.score.round(2)

%table.table
  %thead
    %tr
      %th Question
      %th Response
      %th Question Weight
      %th Response Weight
      %th Initial Question Rank
      %th Apply Negative Penalty
      %th Apply Question Weight (Final Rank)
  %tbody
    - @recommendation.training_set.product_questions.where(product_id: @recommendation.product_id).preload(:survey_question).each do |product_question|
      - question_response = @recommendation.survey_response.question_responses.detect{|question_response| question_response.survey_question_id == product_question.survey_question_id}
      - intermediate_products = @engine.calculate_question_rank_intermediate_products(product_question.product, product_question.survey_question)
      %tr
        %td= product_question.survey_question.prompt
        %td= displayable_response(question_response)
        %td= product_question.question_impact.round(2)
        %td= displayable_response_weight(product_question, question_response)
        %td= intermediate_products[:initial_question_rank].round(2)
        %td= intermediate_products[:negative_rank_penalty_applied].round(2)
        %td= intermediate_products[:final_question_rank].round(2)