.row.admin__intro
  .col-sm-12
    %h1 Product Categories

.row.admin__actions
  .col-sm-12
    = link_to 'Add New Product Category', new_product_category_path, class: 'btn btn-primary'

.row
  .col-sm-12
    %ul.admin-index-list
      - @product_categories.each do |product_category|
        %li
          = "#{product_category.name} (#{product_category.wrapt_sku_code})"
          = link_to 'Edit', edit_product_category_path(product_category), class: 'btn btn-default btn-xs'
          = link_to 'Delete', product_category_path(product_category), method: :delete, confirm: 'Are you sure?', class: 'btn btn-danger btn-xs'
          - if product_category.children.any?
            %ul.admin-index-list
              - product_category.children.each do |subcategory|
                %li
                  = "#{subcategory.name} (#{subcategory.wrapt_sku_code})"
                  = link_to 'Edit', edit_product_category_path(subcategory), class: 'btn btn-default btn-xs'
                  = link_to 'Delete', product_category_path(subcategory), method: :delete, confirm: 'Are you sure?', class: 'btn btn-danger btn-xs'