%p
  %b Name:
  = @product_category.name
%p
  %b Lft:
  = @product_category.lft
%p
  %b Rgt:
  = @product_category.rgt
%p
  %b Parent:
  = @product_category.parent_id
%p
  %b Depth:
  = @product_category.depth
%p
  %b Children count:
  = @product_category.children_count

= link_to 'Edit', edit_product_category_path(@product_category)
\|
= link_to 'Back', product_categories_path
