.container
  = render 'header'
  .row
    .col-sm-12
      = simple_form_for current_user, url: my_account_profile_path do |form|
        .row
          .col-xs-12.col-md-6
            = form.input :first_name, label: 'First Name'
          .col-xs-12.col-md-6
            = form.input :last_name, label: 'Last Name'
        .row
          .col-xs-12.col-md-6
            = form.input :email, label: 'Email Address'
          .col-xs-12.col-md-6
            = form.input :password
        .row
          .col-xs-12.col-md-12
            .form-group
              - label = 'Please send me occasional updates, such as when there are new Wrapt makers and quiz questions'
              = wrapt_styled_checkbox('1', 'user[wants_newsletter]', form.object.wants_newsletter, {label: label, data: {}})

        = form.submit 'Update', class: 'btn btn-primary btn-block uppercase'
