.row
  .col-xs-12
    %h3
      Packing List for
      = @purchase_order.order_number
    %h5
      = @purchase_order.gift.title

    %table.table.table-striped
      %thead
        %tr
          %th.hidden-xs
          %th Description
          %th SKU
          %th
            .hidden-xs Quantity
            .visible-xs-inline Qty

      %tbody
        - @purchase_order.line_items.each do |line_item|
          - product = line_item.orderable
          %tr
            %td.hidden-xs
              = render "product_image", product: product
            %td
              = product.description
            %td
              = product.vendor_sku
              .visible-xs-block
                = render "product_image", product: product

            %td= line_item.quantity
        %tr
          %td.hidden-xs
          %td
            - wrapt_parcel = @purchase_order.gift.pretty_parcel
            = wrapt_parcel.description
          %td
          %td 1
        - if @customer_order.valid_note?
          %tr
            %td.hidden-xs
            %td Hand written note
            %td
            %td 1


.row
  - if @customer_order.valid_note?
    .col-xs-12.col-sm-6
      %h3 Note Details
      %strong Content:
      %p.sg-box__content{style: 'text-align: left;'}
        != @customer_order.note_content.to_s.gsub(/\n/, '<br>')

      %strong Envelope Text:
      %p.sg-box__content{style: 'text-align: left;'}
        != @customer_order.note_envelope_text.to_s.gsub(/\n/, '<br>')

  .col-xs-12.col-sm-6
    = render "shipping"
