.row
  .col-xs-12
    %h3
      Packing List for
      = @purchase_order.order_number
    %h5
      = @purchase_order.gift.title

    %table.table.table-striped
      %thead
        %tr
          %th
          %th Description
          %th SKU
          %th Quantity
      %tbody
        - @purchase_order.line_items.each do |line_item|
          - product = line_item.orderable
          %tr
            %td
              - url = product.primary_product_image&.image&.url(:small)
              - if url.present?
                = image_tag url, class: 'img-responsive', style: 'max-width: 88px; padding-right: 4px;', alt: product.title
              - else
                %img
            %td= product.description
            %td= product.vendor_sku
            %td= line_item.quantity
        %tr
          %td
          %td
            - wrapt_parcel = @purchase_order.gift.pretty_parcel
            = wrapt_parcel.description
          %td
          %td 1
        - if @customer_order.include_note?
          %tr
            %td
            %td Hand written note
            %td
            %td 1


.row
  - if @customer_order.include_note?
    .col-xs-6
      %h3 Note Details
      %strong Content:
      %p.sg-box__content{style: 'white-space: pre; text-align: left;'}
        = @customer_order.note_content

  .col-xs-6
    = render "shipping"
