.container
  = simple_form_for @purchase_order, url: url_for, method: :put do |f|
    .row
      .col-xs-5
        = f.input :vendor_acknowledgement_status, collection: [ ['I have all products and will ship them to the customer in the boxes listed below', PurchaseOrder::FULFILL], ['I cannot fulfill this order', PurchaseOrder::DO_NOT_FULFILL] ], label: 'Status', hint: 'Update shipping box (if needed) before clicking acknowledge.'

      .col-xs-5
        = f.input :vendor_acknowledgement_reason, collection: PurchaseOrder::NO_FULFILL_REASONS, label: 'Reason', hint: 'only fill out if you cannot fulfill the order'

      .col-xs-2
        &nbsp;
        %button.btn.btn-xs.btn-warning Acknowledge

    .row#js-other-reason{style: 'display: none; margin-bottom: 25px'}
      .col-xs-10
        .controls
          %label.control-label
            Other Reason
          %input.form-control{name: 'purchase_order[other_reason]'}

        = content_for :page_js do
          :javascript
            $('document').ready(function() {
              $('#purchase_order_vendor_acknowledgement_reason').change(function(){
                if ( $(this).val() == 'other' ) {
                  $('#js-other-reason').show();
                } else {
                  $('#js-other-reason').hide();
                }
              });
            })


  .row
    .col-xs-12
      = render "order_details"

= content_for :page_js do
  :javascript
    $('document').ready(function() {
      function update_form() {
        var value =  $('#purchase_order_vendor_acknowledgement_status')[0].value;

        if ( value === 'true' ) {
          $('.purchase_order_vendor_acknowledgement_reason').hide();
        } else {
          $('.purchase_order_vendor_acknowledgement_reason').show();
        }
      }

      update_form();
      $('#purchase_order_vendor_acknowledgement_status').change(function(e) {
        update_form();
      });
    });
