.container
  .row
    .col-sm-12
      = link_to 'giftees', my_account_giftees_path
      |
      = link_to 'profile', my_account_profile_path
      |
      = link_to 'orders', my_account_orders_path
      |
      = link_to 'billing', my_account_billing_index_path
      |
      = link_to 'preferences', my_account_preferences_path
