.row
  .col-sm-12
    %h1 Edit Gift

.row
  .col-sm-8
    %ul.nav.nav-tabs
      %li(role="presentation")= link_to 'Details', edit_gift_path(@gift)
      %li(role="presentation")= link_to 'Products', gift_images_path(@gift)
      %li(role="presentation" class="active")= link_to 'Images', gift_images_path(@gift)

.row.admin__gift-images-grid
  - @gift.gift_images.each do |gift_image|
    - if gift_image.image? #don't include @gift_image here
      .col-sm-3.admin__gift-image-col
        .admin__gift-image-cell{class: ('primary' if gift_image.primary?)}
          .admin__gift-image-cell-inner
            = image_tag gift_image.image_url(:small)
            - if gift_image.primary?
              %span.btn.btn-primary.btn-xs.admin__is-primary-gift-image-badge
                %i.glyphicon.glyphicon-ok
            - else
              = link_to '#', class: 'admin__set-primary-gift-image-link admin__gift-image-hover-link btn btn-xs btn-default' do
                %i.glyphicon.glyphicon-ok
            = link_to gift_image_path(@gift, gift_image), method: :delete, data: {confirm: 'Are you sure?'}, class: 'admin__delete-gift-image-link admin__gift-image-hover-link btn btn-xs btn-default' do
              %i.glyphicon.glyphicon-trash
  .col-sm-3.admin__gift-image-col
    .admin__add-gift-image-cell
      = simple_form_for @gift_image, url: gift_images_path(@gift), html: {class: 'form form-inline', data: {gift_image_upload_form: true}} do |form|
        %span.btn.btn-default(data-image-upload-trigger)
          %i.glyphicon.glyphicon-plus
          %span Upload New Image
          = form.file_field :image, data: {gift_image_upload_input: true, url: gift_images_path(@gift)}

- content_for :page_js do
  :javascript
    new App.Admin.GiftImageUploadForm($('[data-gift-image-upload-form]')[0])

