:ruby
  profile_sets = @training_set.survey.profile_sets.preload(:survey_responses).order(created_at: 'desc')
  profile_sets = profile_sets.select do |profile_set|
    profile_set.survey_responses.any?
  end

#profile_set_nav.panel-group{role: 'tablist', 'aria-multiselectable': 'true'}
  - profile_sets.each do |profile_set|
    .panel.panel-default
      .panel-heading{role: 'tab', id: "ps_head_#{profile_set.id}"}
        %a{role: 'button', 'data-toggle': 'collapse', 'data-parent': '#profile_set_nave', href: "#ps_body_#{profile_set.id}", 'aria-expanded': 'false', 'aria-controls':"ps_body_#{profile_set.id}"}
          = profile_set.name
      .panel-collapse.collapse{id: "ps_body_#{profile_set.id}", role: 'tabpanel', 'aria-labelledby': "ps_body_#{profile_set.id}"}
        .panel-body
          %ul{style: 'padding:10px 20px;margin:0px'}
            - profile_set.survey_responses.order(created_at: 'desc').each do |response|
              %li
                %a.profile-set-nav-link{href: admin_training_set_evaluation_recommendation_path(@training_set, response.id), 'data-response_id': "#{response.id}"}= response.name
      
