.row.admin__intro
  .col-sm-12
    %h1
      = @survey.title
      = link_to "Edit Title", edit_survey_path(@survey), class: 'btn btn-default btn-sm'

.row.admin__actions
  .col-sm-12
    = link_to "Add New Question", new_survey_question_path(@survey), class: 'btn btn-primary'
    = link_to "Edit Sections", survey_sections_path(@survey), class: 'btn btn-primary'
    = link_to 'Create a Copy of this Survey', survey_copying_path(@survey), class: 'btn btn-primary', data: {method: 'post'}

.row
  .col-sm-12
    %div{data: {behavior: 'sectioned-sortable-question-list', sectioned_sortable_question_list_href: survey_sectioned_question_ordering_path(@survey, format: :json)}}
      - @survey.sections.preload(questions: :options).each do |section|
        %div{data: {question_list_section: true, section_id: section.id}}
          %h3= section.name
          %p{data: {empty_section_placeholder_text: true}}
            %em No questions in this section
          %table.table
            %tbody
              %tr.question-list__empty-section-drop-target{data: {sortable_item: true, empty_section_drop_target: true}}
                %td
              - section.questions.each do |question|
                = render 'survey_question', question: question
      %h3
        Uncategorized
      %table.table{data: {question_list_section: true}}
        %tbody
          - @survey.questions.where(survey_section: nil).preload(:options).each do |question|
            = render 'survey_question', question: question


- content_for :page_js do
  :javascript
    new App.SectionedSortableQuestionList($('[data-behavior~=sectioned-sortable-question-list]')[0]);  

    