%h1
  = @survey.title
  = link_to "Edit Title", edit_survey_path(@survey), class: 'btn btn-primary btn-sm'

%p= link_to "Add New Question", new_survey_multiple_choice_question_path(@survey), class: 'btn btn-success'

%ol(style="list-style: decimal inside; padding: 0;")
  - @survey.questions.preload(:options).each_with_index do |question, i|
    %li(style="margin: 10px 0;")
      = question.prompt
      = link_to 'Edit Question', edit_survey_multiple_choice_question_path(@survey, question), class: 'btn btn-primary btn-xs'
      = link_to 'Manage Options', survey_multiple_choice_question_path(@survey, question), class: 'btn btn-primary btn-xs'
      = link_to 'Delete', survey_multiple_choice_question_path(@survey, question), method: :delete, confirm: 'Are you sure?', class: 'btn btn-danger btn-xs'


