.row.admin__intro
  .col-sm-12
    %h1
      = @survey.title
      = link_to "Edit Title", edit_survey_path(@survey), class: 'btn btn-default btn-sm'

.row.admin__actions
  .col-sm-12
    = link_to "Add New Question", new_survey_question_path(@survey), class: 'btn btn-primary'

.row
  .col-sm-12
    %ol.question-list{data: {sortable_list: true, sortable_list_href: survey_question_ordering_path(@survey)}}
      - @survey.questions.preload(:options).each_with_index do |question, i|
        %li.question-list__item{data: {sortable_item: true, sortable_item_id: question.id}}
          %i.question-list__icon{class: question.system_type_label}
          = question.prompt
          = link_to "Edit", edit_survey_question_path(@survey, question), class: 'btn btn-default btn-xs'
          = link_to 'Delete', survey_question_path(@survey, question), method: :delete, confirm: "This will delete '#{question.prompt}'", class: 'btn btn-danger btn-xs'


- content_for :page_js do
  :javascript
    new App.SortableList($('[data-sortable-list]')[0]);