%h5 Activity Details
.row
  .col-sm-12
    %table.table
      %tbody
        - @report.sorted_profile_ids.each do |id|
          :ruby
            profile = @report.preloaded_profiles[id]
            next if profile.blank?
          %tr.active
            %th{colspan: 3}
              = profile.owner&.email
              - if profile.name.present?
                for #{profile.name} (#{profile.id})
              - if profile.email.present?
                [#{profile.email}]
          :ruby
            events = @report.events[id]
            if events.detect{|e| e[:type] == 'survey_completed'}
              events.reject!{|e| e[:type] == 'question_answered'}
            end

          - events.each do |event|
            %tr
              %td
              %td{style: 'width: 200px;'}= format_datetime(event[:ts])
              %td
                - case event[:type]
                - when 'question_answered'
                  Last question answered:
                  - question = @report.preloaded_questions[event[:question_id]]
                  - if question.present?
                    '#{truncate(question.prompt, length: 80)}'

                - when 'survey_completed'
                  Survey Completed
                  = link_to "[view responses]", admin_survey_response_path(event[:survey_id]), class: 'view-responses'
                  - question = @report.preloaded_questions[event[:question_id]]
                  - if question.present?
                    '#{truncate(question.prompt, length: 80)}'

                - when 'gift_selected'
                  Gift added to basket:
                  - gift = @report.preloaded_gifts[event[:gift_id]]
                  - if gift.present?
                    '#{truncate(gift.title, length: 60)}' (#{gift.wrapt_sku})
                    %span.glyphicon.glyphicon-gift

                - when 'gift_liked'
                  Liked gift
                  - reason_description = like_reason_label(event[:reason])
                  - if reason_description.present?
                    = " - #{reason_description}"
                  = ":"
                  - gift = @report.preloaded_gifts[event[:gift_id]]
                  - if gift.present?
                    '#{truncate(gift.title, length: 60)}' (#{gift.wrapt_sku})
                    %span.glyphicon.glyphicon-thumbs-up

                - when 'gift_disliked'
                  Disliked gift
                  - reason_description = ProfileRecipientReviewsHelper.dislike_reason_label(event[:reason])
                  - if reason_description.present?
                    = " - #{reason_description}"
                  = ":"
                  - gift = @report.preloaded_gifts[event[:gift_id]]
                  - if gift.present?
                    '#{truncate(gift.title, length: 60)}' (#{gift.wrapt_sku})
                    - if non_random_gifts.include?(gift)
                      %span.glyphicon.glyphicon-star
                    %span.glyphicon.glyphicon-thumbs-down

                - when'recommendations_generated'
                  Recommendations generated:
                  - rec_set = profile.gift_recommendation_sets.find{|grs| grs.id = event[:gift_recommendation_set_id]}
                  - recs = rec_set.recommendations
                  = link_to "edit", edit_admin_gift_recommendation_set_path(rec_set)
                  %ol
                    - recs.each do |rec|
                      %li
                        - if rec.removed_by_expert?
                          %span.glyphicon.glyphicon-remove{title: 'removed by expert'}
                        '#{truncate(rec.gift.title, length: 60)}' (#{rec.gift.wrapt_sku})
                        - if rec.added_by_expert?
                          = "#{rec.expert_score.round}"
                          %span.glyphicon.glyphicon-education{title: "added by expert (score: #{rec.expert_score.round})"}
                        - elsif !rec.random?
                          = "#{rec.score.round}"
                          %span.glyphicon.glyphicon-star{title: "added by algorithm (score: #{rec.score.round})"}

                  Parameters:
                  %ul
                    - stats = rec_set.engine_stats || {}
                    - if stats[:filters].is_a?(Array)
                      - stats[:filters].each do |filter|
                        %li #{filter[:name]} Filter: #{filter[:description]}

                    - if stats[:scorers].is_a?(Array)
                      - stats[:scorers].each do |scorer|
                        %li #{scorer[:name]} Scoring: #{scorer[:description]}

                - else
                  = event[:type].humanize

= content_for :page_js do
  :coffeescript
    $ ->
      $('.view-responses').click (e) ->
        link = $(@)
        $.ajax(
          url: link.attr('href')
          success: (data) -> link.replaceWith(data)
        )
        e.preventDefault()
        false

