.row
  .col-sm-2 Profiles Created: #{@summary.aggregate_stats[:profiles_created]}
  .col-sm-2 Surveys Completed: #{@summary.aggregate_stats[:surveys_completed]}
  .col-sm-2 Recipient Invites: #{@summary.aggregate_stats[:recipients_invited]}

.row
  .col-sm-6
    %table.table.table-bordered.table-condensed{style: 'margin-top:30px;'}
      %tr.active
        %th
        %td.text-align-right
          %span.glyphicon.glyphicon-gift
          Selected
        %td.text-align-right
          %span.glyphicon.glyphicon-thumbs-up
          Liked
        %td.text-align-right
          %span.glyphicon.glyphicon-thumbs-down
          Disliked
      %tr.active
        %th{colspan: 4} All Gifts
      %tr
        %td Gifter
        %td.text-align-right #{@report.stats[:gifts_selected]}
        %td.text-align-right #{@report.stats[:gifts_liked]}
        %td.text-align-right #{@report.stats[:gifts_disliked]}
      %tr
        %td Recipient
        %td.text-align-right #{@report.stats[:recipient_gifts_selected]}
        %td.text-align-right #{@report.stats[:recipient_gifts_liked]}
        %td.text-align-right #{@report.stats[:recipient_gifts_disliked]}
      %tr
        %td Both
        %td.text-align-right #{@report.stats[:both_gifts_selected]}
        %td.text-align-right #{@report.stats[:both_gifts_liked]}
        %td.text-align-right #{@report.stats[:both_gifts_disliked]}

      %tr.active
        %th{colspan: 4}
          %span.glyphicon.glyphicon-star
          Recommended Gifts
      %tr
        %td Gifter
        %td.text-align-right #{@report.stats[:recommended_gifts_selected]}
        %td.text-align-right #{@report.stats[:recommended_gifts_liked]}
        %td.text-align-right #{@report.stats[:recommended_gifts_disliked]}
      %tr
        %td Recipient
        %td.text-align-right #{@report.stats[:recipient_recommended_gifts_selected]}
        %td.text-align-right #{@report.stats[:recipient_recommended_gifts_liked]}
        %td.text-align-right #{@report.stats[:recipient_recommended_gifts_disliked]}
      %tr
        %td Both
        %td.text-align-right #{@report.stats[:both_recommended_gifts_selected]}
        %td.text-align-right #{@report.stats[:both_recommended_gifts_liked]}
        %td.text-align-right #{@report.stats[:both_recommended_gifts_disliked]}
