:ruby
  aggregate_stats = @summary.aggregate_stats

.row
  .col-sm-2 Profiles Created: #{aggregate_stats[:profile_created_count]}
  .col-sm-2 Surveys Completed: #{aggregate_stats[:survey_completed_count]}


.row
  .col-sm-6
    %table.table.table-bordered.table-condensed{style: 'margin-top:30px;'}
      %tr.active
        %td.text-align-right
          %span.glyphicon.glyphicon-gift
          Selected
        %td.text-align-right
          %span.glyphicon.glyphicon-thumbs-up
          Liked
        %td.text-align-right
          %span.glyphicon.glyphicon-thumbs-down
          Disliked
      %tr
        %td.text-align-right #{aggregate_stats[:gift_selected_count]}
        %td.text-align-right #{aggregate_stats[:gift_liked_count]}
        %td.text-align-right #{aggregate_stats[:gift_disliked_count]}

