:ruby
  aggregate_stats = @summary.aggregate_stats

.row
  .col-sm-2 Profiles Created: #{aggregate_stats[:profile_created_count]}
  .col-sm-2 Surveys Completed: #{aggregate_stats[:survey_completed_count]}
  .col-sm-2 Recipient Invites: #{aggregate_stats[:recipient_invited_count]}

.row
  .col-sm-6
    %table.table.table-bordered.table-condensed{style: 'margin-top:30px;'}
      %tr.active
        %th
        %td.text-align-right
          %span.glyphicon.glyphicon-gift
          Selected
        %td.text-align-right
          %span.glyphicon.glyphicon-thumbs-up
          Liked
        %td.text-align-right
          %span.glyphicon.glyphicon-thumbs-down
          Disliked
      %tr.active
        %th{colspan: 4} All Gifts
      %tr
        %td Gifter
        %td.text-align-right #{aggregate_stats[:gift_selected_count]}
        %td.text-align-right #{aggregate_stats[:gift_liked_count]}
        %td.text-align-right #{aggregate_stats[:gift_disliked_count]}
      %tr
        %td Recipient
        %td.text-align-right #{aggregate_stats[:recipient_gift_selected_count]}
        %td.text-align-right #{aggregate_stats[:recipient_gift_liked_count]}
        %td.text-align-right #{aggregate_stats[:recipient_gift_disliked_count]}
      %tr
        %td Both
        %td.text-align-right #{aggregate_stats[:both_gift_selected_count]}
        %td.text-align-right #{aggregate_stats[:both_gift_liked_count]}
        %td.text-align-right #{aggregate_stats[:both_gift_disliked_count]}

      %tr.active
        %th{colspan: 4}
          %span.glyphicon.glyphicon-star
          Recommended Gifts
      %tr
        %td Gifter
        %td.text-align-right #{aggregate_stats[:recommended_gift_selected_count]}
        %td.text-align-right #{aggregate_stats[:recommended_gift_liked_count]}
        %td.text-align-right #{aggregate_stats[:recommended_gift_disliked_count]}
      %tr
        %td Recipient
        %td.text-align-right #{aggregate_stats[:recipient_recommended_gift_selected_count]}
        %td.text-align-right #{aggregate_stats[:recipient_recommended_gift_liked_count]}
        %td.text-align-right #{aggregate_stats[:recipient_recommended_gift_disliked_count]}
      %tr
        %td Both
        %td.text-align-right #{aggregate_stats[:both_recommended_gift_selected_count]}
        %td.text-align-right #{aggregate_stats[:both_recommended_gift_liked_count]}
        %td.text-align-right #{aggregate_stats[:both_recommended_gift_disliked_count]}
