%h2 Reports

:ruby
  week_options = (0..10).map do |weeks_ago|
    begin_date = weeks_ago.weeks.ago.beginning_of_week.strftime('%B %d, %Y')
    end_date = weeks_ago.weeks.ago.end_of_week.strftime('%B %d, %Y')
    ["#{begin_date} - #{end_date}", weeks_ago]
  end

.well
  = form_tag admin_reports_path, method: :get, class: 'form-inline' do
    .form-group
      %label User activity for the week of:
      = select_tag :weeks_ago, options_for_select(week_options, @weeks_ago), onchange: "this.form.submit();"
      
%table.table
  %tbody
    - @report.sorted_profile_ids.each do |id|
      - profile = @report.preloaded_profiles[id]
      - next if profile.blank?
      %tr.active
        %th{colspan: 3}
          = profile.owner.email
          - if profile.name.present?
            for #{profile.name}
      :ruby
        events = @report.events[id]
        if events.detect{|e| e[:type] == 'survey_completed'}
          events.reject!{|e| e[:type] == 'question_answered'}
        end
      - events.each do |event|
        %tr
          %td
          %td= event[:ts].strftime('%m/%d/%Y %I:%M %p')
          %td
            - if event[:type] == 'question_answered' 
              Last question answered:
              - question = @report.preloaded_questions[event[:question_id]]
              - if question.present?
                '#{truncate(question.prompt, length: 40)}'
            - else
              = event[:type].humanize
