.row.admin__intro
  .col-sm-12
    %h1 Products

.row.admin__actions
  .col-sm-12
    = link_to 'Add a Product', new_admin_product_path, class: 'btn btn-primary'

    = link_to 'Export Products', admin_products_exports_path, class: 'btn btn-primary', method: :post, remote: true, id: 'js-export', 'data-turbolinks' => "false"

    %span#js-waiting{style: 'display: none;'}= image_tag 'ajax-loader.gif'
    - content_for :page_js do
      :javascript
        new App.Admin.FileExportsSubscription(#{current_user.id})

        $('#js-export').click(function(){
          $('#js-waiting').show();
        })

.row.admin__search
  .col-sm-12
    = form_for  [:admin, @product_search], url: admin_products_path, html: {method: 'GET', class: 'form-inline', data: {behavior: 'form-loads-subcategories'}} do |form|
      .form-group
        = form.search_field :keyword, placeholder: 'Title or SKU', class: 'form-control', style: 'min-width: 300px;'
        = form.collection_select :product_category_id, ProductCategory.categories, :id, :name, {prompt: 'Category'}, class: 'form-control', data: {behavior: 'product-category-input'}
        = form.collection_select :product_subcategory_id, ProductCategory.subcategories.where(parent_id: @product_search.product_category_id), :id, :name, {prompt: 'Sub-category'}, class: 'form-control', data: {behavior: 'product-subcategory-input'}
        = form.collection_select :vendor_id, Vendor.all, :id, :name, {prompt: 'Vendor'}, class: 'form-control'
        %button.btn.btn-primary
          %i.glyphicon.glyphicon-search
          Search
        = link_to 'Clear Search (Show All)', admin_products_path, class: 'btn btn-default'

.row
  .col-sm-12
    %table.table.index-table
      %thead
        %tr
          %th
          %th Title
          %th Categories
          %th Wrapt SKU
          %th Gifts
          %th.text-right Single-Product Gift
          %th


      %tbody
        - @products.preload(:primary_product_image, :gifts, :single_product_gift).each do |product|
          %tr
            %td.admin-index-table--image-cell
              - if product.primary_product_image.present?
                = image_tag product.primary_product_image.image_url(:small), class: 'admin-index-table--image', alt: product.title
            %td= product.title
            %td
              - if product.product_category.present?
                %span.label.label-default= product.product_category&.name
              - if product.product_subcategory.present?
                %span.label.label-default= product.product_subcategory&.name
            %td.admin-index-table--sku-cell
              = product.wrapt_sku
              %br
              %em= product.vendor.name
            %td
              %ul(style="padding-left: 20px;")
                - product.gifts.each_with_index do |gift, i|
                  %li= link_to gift.title, [:admin, gift]
            %td.text-right
              - if product.single_product_gift.present?
                = link_to product.single_product_gift.title, [:admin, product.single_product_gift]
              - else
                = link_to 'Create Single-Product Gift', new_admin_product_single_product_gift_path(product, context_params), class: 'btn btn-default btn-xs', data: {loads_in_pjax_modal: true}
            %td.admin-index-table--buttons-cell
              = link_to 'View', [:admin, product], class: 'btn btn-default btn-xs'
              = link_to 'Edit', edit_admin_product_path(product), class: 'btn btn-default btn-xs'
              - if product.deleteable?
                = link_to 'Delete', admin_product_path(product, context_params), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-xs'

    %p=paginate @products

- content_for :page_js do
  :javascript
    new App.Admin.ProductSubcategoryLoader({prompt: 'Sub-category'})


