.gift-basket-overlay{data: {behavior: 'gift-basket-overlay'}}

.gift-basket{data: {behavior: 'gift-basket-container', profile_id: profile.id, channel_name: 'GiftSelectionsChannel'}}
  .gift-basket__inner-wrap
    = link_to "< Back to Shopping", '#', data: {behavior: 'close-gift-basket'}, class: 'gift-basket__header small', onClick: "ga('send', 'event', 'basket', 'open-close', 'close');" 
    .gift-basket__main
      %div{data: {behavior: 'gift-basket-gifts'}}
        = render 'gift_selections/index', profile: profile

    .gift-basket__footer
      %h4.gift-basket__footer__heading
        Subtotal
        %span.pull-right &#8212;
      %p.help.gift-basket__footer__text 
        You can’t quite purchase those gifts yet, but soon you can!
        %br
        Instead, we'd like to share the gifts Wrapt recommended with your #{@profile.relationship&.downcase}, and ask which ones #{@profile.name} would like or not like. If you're up for having us email #{@profile.name}, please click the button below and provide their email address. Thank you!
      

      = link_to 'SEND GIFT SELECTION NOTIFICATION', new_profile_giftee_invitation_path(profile), class: 'btn btn-primary btn-full-width btn-gift-basket-submit', data: {loads_in_pjax_modal: true, behavior: 'gift-basket-submit'}, onClick: "ga('send', 'event', 'basket', 'share with giftee', 'step 1 - button');"


      

- content_for :page_js do
  :javascript
    new App.GiftBasket()
