.gift-basket-overlay{data: {behavior: 'gift-basket-overlay'}}

.gift-basket{data: {behavior: 'gift-basket-container', profile_id: profile.id, channel_name: 'GiftSelectionsChannel'}}
  .gift-basket__inner-wrap
    - if url_for == giftee_gift_recommendations_path(profile)
      -# slide the cart out if we're on the shopping page
      = link_to "< Back to Shopping", '#', data: {behavior: 'close-gift-basket'}, class: 'gift-basket__header small', onClick: "ga('send', 'event', 'basket', 'open-close', 'close');"
    - else
      -# Otherwise, simply go to the shopping page.
      = link_to "< Back to Shopping", giftee_gift_recommendations_path(profile), class: 'gift-basket__header small', onClick: "ga('send', 'event', 'basket', 'open-close', 'close');"

    .gift-basket__main
      %div{data: {behavior: 'gift-basket-gifts'}}
        = render 'gift_selections/index', profile: profile

    .gift-basket__footer
      %h4.gift-basket__footer__heading
        Subtotal
        %span.pull-right.js-subtotal
          = number_to_currency(profile.selling_price_total)

      %p.help.gift-basket__footer__text
        %span.js-num-gifts-words
          = pluralize(profile.gift_selections.count, 'item')
        in your cart

      - if checkout_enabled?
        = link_to 'CHECK OUT', ecommerce_checkout_start_path(giftee_id: profile.id), class: 'btn btn-primary btn-full-width btn-gift-basket-submit', id: 'js-checkout', method: :patch, data: {analytics: 'start-checkout'}
      - else
        = link_to 'CHECK OUT COMING SOON', 'javascript:void(0)', class: 'btn btn-primary btn-full-width btn-gift-basket-submit'



= content_for :page_js do
  :javascript
    new App.GiftBasket({num_gifts: #{profile.gift_selections.count}})
    $(document).ready(function() {
      $('body').on('click', '[data-analytics="start-checkout"]', function() {
        ga('ec:setAction', 'checkout', {
          'option': 'initiate checkout', 
          'step': 0, 
          'dimension1': '#{@profile.try(:id) || -1}', 
          'dimension4': 'n/a'
        });
      })
    })
