%h3 Gift Basket
- selections = profile.gift_selections.preload(gift: :primary_gift_image)
- if selections.length == 0
  %p Your Gift Basket is Empty
- else
  - selections.each do |gift_selection|
    - gift = gift_selection.gift
    .gift-basket--gift.clearfix
      .gift-basket--gift-image
        = image_tag gift.primary_gift_image_with_fallback.image_url(:small)
      .gift-basket--gift-text
        .gift-basket--gift-title
          = gift.title
        .gift-basket--gift-description
          = gift.description
        .gift-basket--gift-price
          = number_to_currency gift.selling_price
        .gift-basket--remove-gift-link
          = link_to profile_gift_selection_path(profile, gift_selection), data: {remote: true, behavior: 'remove-gift-from-basket', method: :delete} do
            = embedded_svg('icon-close', class: 'gift-basket__icon-remove')