%h3.gift-basket-gifts__heading #{profile.name}'s Gift Basket
- selections = profile.gift_selections.preload(gift: :primary_gift_image)
- if selections.length == 0
  %p Your Gift Basket is Empty
- else
  - selections.each do |gift_selection|
    - gift = gift_selection.gift
    .gift-basket__gift.clearfix
      .gift-basket__gift__left
        .gift-basket__gift-image
          - url = gift.primary_gift_image_with_fallback.image&.url(:small)
          - if url.present?
            = image_tag url, alt: gift.title
          - else
            %img{alt: gift.title}
      .gift-basket__gift__right
        .gift-basket__gift-title.small
          = gift.title
        .gift-basket__gift-description.help
          = gift.description
        .gift-basket__price-count
          %span.gift-basket__gift-price.small
            = number_to_currency gift.selling_price
      = link_to giftee_gift_selection_path(profile, gift_selection), data: {remote: true, behavior: 'remove-gift-from-basket', analytics: 'remove-gift-from-basket', gift_name: "#{gift.title}", gift: analytics_product_info(gift, @profile)}, method: :delete, class: 'gift-basket__remove-gift-link' do
        =embedded_svg('icon-close', class: 'remove-gift-link__icon-close')

= content_for :page_js do
  :javascript
    $(document).ready(function() {
      $('body').on('click', '[data-analytics="remove-gift-from-basket"]', function() {
        //Google Analytics Enhanced Ecommerce
        var giftName = $(this).data('gift-name');
        var gift = $(this).data('gift');
        ga('ec:addProduct', gift);
        ga('ec:setAction', 'remove');
        ga('send', 'event', 'basket', 'remove from basket', giftName);
      });
    })
    