.container
  .row
    .col-xs-12
      .quiz-complete__text.pa3.text-center
        %h1 Terrific, now we have all the information we need to make gift recommendations for #{@survey_response.giftee_name}.


      = simple_form_for @survey_response_completion, url: with_invitation_scope(giftee_survey_completion_path(@profile, @survey_response)), html: {class: 'quiz-complete__form'} do |form|
        .pa4
          - unless current_user&.active?
            .row
              .col-sm-6
                %h4 Create Your Account
              .col-sm-6{style: 'text-align: right'}
                Already Have an Account?
                - return_to = create_via_redirect_giftee_survey_completion_path(@profile, @survey_response)
                = link_to new_user_session_path(return_to: return_to), data: {loads_in_pjax_modal: true, toggle: "fade out", target: '.top-navigation__menu'} do
                  Sign In

            .row
              .col-sm-6
                = form.input :user_first_name, label: 'First Name'
              .col-sm-6
                = form.input :user_last_name, label: 'Last Name'
            .row
              .col-sm-6
                = form.input :user_email, label: 'Email Address'
              .col-sm-6
                = form.input :user_password, label: 'Password', value: ''

          = form.submit 'View Gift Recommendations'.upcase, class: 'btn btn-primary btn-sm btn-full-width'

- if @render_loading_spinner
  = render 'application/loading', hidden: false
  = content_for :page_js do
    :javascript
      $(document).ready(function() {
        var loading = $('.app-loading__container');
        setTimeout(function() {
          loading.fadeOut('slow', function() {
            $(this).addClass('hidden');
          });
        }, 5000)
      });
= content_for :page_js do
  :javascript
    new App.PasswordRevealer()
