-# just holds link for modal
#example-gift-recommendations{data: {sign_up: sign_up_giftee_survey_completion_path(params[:giftee_id], params[:survey_id])}}
.container.js-ios-hack
  .row
    .col-xs-12
      %h1.text-center
        = "#{@profile.name}'s Gift Recommendations"
      %p.lead.tan-002.ph2.text-center
        ="Wrapt found these items uniquely suited to #{@profile.name} based on her personality, passions, & purpose.".html_safe
  = render 'gift_recommendation', gift: @gift_recommendations.first.gift

- if @render_loading_spinner
  = render 'application/loading', hidden: false
  = content_for :page_js do
    :javascript
      $(document).ready(function() {
        var loading = $('.app-loading__container');
        setTimeout(function() {
          loading.fadeOut('slow', function() {
            $(this).addClass('hidden');
           var url = $('#example-gift-recommendations').data('sign-up')
           new App.PjaxModalLoader(url, {backdrop: 'static', show: true})
          });
        }, 5000)
      });

= content_for :page_js do
  :javascript
    new App.PasswordRevealer()
    $(document).ready(function() {
      $('#pjax-modal').on('hidden.bs.modal', function() {
        console.log('hide modal')
        var url = $('#example-gift-recommendations').data('sign-up')
        new App.PjaxModalLoader(url, {backdrop: 'static', show: true})
      })
    })

