.container
  .row
    .col-xs-12
      .pa3.text-center
        %h1 Great Job! We’ve got all the information we need to make gift recommendations for #{@survey_response.giftee_name}
        %p.tan-002 A few more things to get squared away before we reveal the gifts


      = simple_form_for @survey_response_completion, url: with_invitation_scope(profile_survey_completion_path(@profile, @survey_response)) do |form|
        .floating-container.floating-container__invite
          %h4 Invite #{@survey_response.giftee_name}!
          %p In our Beta Stage we are testing several aspects of our offering. One key piece is presenting you with the most accurate recommendations possible. In order to do that, we’d like to ask her to review the gift recommendations and rate some of the items in our catalog.
          .row
            .col-xs-6
              = form.input :profile_email, label: 'Her Email Address'
            .col-xs-6
              .wrapt-highlight-text.text-center
                We take privacy seriously, we'll never sell or abuse your email address.
        .pa4
          - unless current_user.active?
            %h4 Create Your Account
            .row
              .col-xs-6
                = form.input :user_first_name, label: 'First Name'
              .col-xs-6
                = form.input :user_last_name, label: 'Last Name'
            .row
              .col-xs-6
                = form.input :user_email, label: 'Email Address'
              .col-xs-6
                = form.input :user_password, label: 'Password', value: ''

          = form.submit 'View Gift Recommendations'.upcase, class: 'btn btn-primary btn-sm btn-full-width'


= content_for :page_js do
  :javascript
    new App.PasswordRevealer() 


