= simple_form_for( [:admin, @gift], html: {data: {behavior: 'form-loads-subcategories'}}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :description
    = f.input :tag_list, label: "Tags", hint: "List tags names separated with a comma (ex: not_for_wife, outdoorsy, sophisticated)", as: :text
    .row
      .col-xs-3
        = f.input :selling_price, wrapper: :vertical_input_group, label: 'Selling Price' do
          .input-group-addon $
          = f.input_field :selling_price, class: 'form-control', disabled: @gift.calculate_price_from_products?, value: number_with_precision(f.object.selling_price, precision: 2)
        = f.input :calculate_price_from_products, label: 'Auto-Calculate Price from Products'
        = f.input :cost, wrapper: :vertical_input_group do
          .input-group-addon $
          = f.input_field :cost, class: 'form-control', disabled: @gift.calculate_cost_from_products?, value: number_with_precision(f.object.cost, precision: 2)
        = f.input :calculate_cost_from_products, label: 'Auto-Calculate Cost from Products'
        %h3 Category
        = f.association :product_category, as: :select, collection: ProductCategory.categories, input_html: {data: {behavior: 'product-category-input'}}
        = f.association :product_subcategory, as: :select, collection: (@gift.product_category&.children || []), input_html: {data: {behavior: 'product-subcategory-input'}}
        = f.input :wrapt_sku, label: 'Wrapt SKU', disabled: true
    = f.input :available, label: 'Availabe to Customers'
    = f.input :featured, label: 'Promote this gift in the recommendations'

  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-primary'

:javascript
  new App.Admin.ProductSubcategoryLoader()
