.row.admin__intro
  .col-sm-12
    %h1 Gifts

.row.admin__actions
  .col-sm-12
    = link_to 'Add a Gift', new_admin_gift_path, class: 'btn btn-primary'
    = link_to 'Unintended Single Product Gifts', admin_faux_single_product_gifts_path, class: 'btn btn-primary'
    = link_to 'Export Gift Tags', admin_gift_tag_exports_path, class: 'btn btn-primary', method: :create

.row.admin__search
  = form_for  [:admin, @gift_search], url: admin_gifts_path, html: {method: 'GET', data: {behavior: 'form-loads-subcategories'}} do |form|
    .col-sm-6
      .form-group
        %label.control-label Title or SKU
        = form.search_field :keyword, placeholder: 'Title or SKU', class: 'form-control', style: 'min-width: 300px;'
      .form-group
        %label.control-label Tags
        = form.search_field :tags, placeholder: 'Tags', class: 'form-control', style: 'min-width: 300px;'
      .form-group
        %label.control-label Category
        = form.collection_select :product_category_id, ProductCategory.categories, :id, :name, {prompt: 'Category'}, class: 'form-control', data: {behavior: 'product-category-input'}, style: "margin-bottom: 6px;"
        = form.collection_select :product_subcategory_id, ProductCategory.subcategories.where(parent_id: @gift_search.product_category_id), :id, :name, {prompt: 'Sub-category'}, class: 'form-control', data: {behavior: 'product-subcategory-input'}
    .col-sm-6
      .form-group
        %label.control-label Vendor
        = form.collection_select :vendor_id, Vendor.order(:name), :id, :name, {prompt: 'Vendor'}, class: 'form-control'
      .form-group
        %label.control-label Available to Customers
        = form.collection_select :available, ['Either Yes or No', 'Yes', 'No'], :to_s, :to_s, {}, class: 'form-control'
      .form-group
        %label.control-label Price Range
        .input-group{style: "margin-bottom: 6px;"}
          .input-group-addon $
          = form.text_field :min_price, placeholder: 'Min Price', class: 'form-control'
          .input-group-addon .00
        .input-group
          .input-group-addon $
          = form.text_field :max_price, placeholder: 'Max Price', class: 'form-control'
          .input-group-addon .00
      .form-group

        %button.btn.btn-primary.pull-right{style: "margin-left: 6px;"}
          %i.glyphicon.glyphicon-search
          Search
        = link_to 'Clear Search (Show All)', admin_gifts_path, class: 'btn btn-default pull-right'

.row
  .col-sm-12
    %table.table
      %thead
        %tr
          %th Gift
          %th
          %th

      %tbody
        - @gifts.each do |gift|
          %tr
            %td
              %h4.admin-index-table--item-title
                = gift.wrapt_sku
                (#{number_to_currency gift.selling_price})

              %table
                %tr
                  %td.admin-index-table--categories-cell
                    - if gift.product_category.present?
                      %span.label.label-default= gift.product_category&.name
                    - if gift.product_subcategory.present?
                      %span.label.label-default= gift.product_subcategory&.name
                    - if gift.featured?
                      %span.label.label-default featured
            %td
              - if gift.primary_gift_image.present?
                = image_tag gift.primary_gift_image.image_url(:small), class: 'admin-index-table--image', alt: gift.title
              %h4.admin-index-table--item-title
                = gift.title
                %em{style: 'font-weight: normal;'} (#{gift.vendor.name})
              .admin-index-table--item-description
                = gift.description
                - if gift.tags.any?
                  %br
                  - gift.tags.sort_by(&:name).each do |tag|
                    %span.label.label-primary.label-inverse= tag.name


            %td.admin-index-table--buttons-cell(style="line-height: 24px; text-align: left;")
              = link_to 'View', [:admin, gift], class: 'btn btn-default btn-xs'
              = link_to 'Preview', admin_gift_preview_modal_path(gift), class: 'btn btn-default btn-xs', data: {loads_in_pjax_modal: true}
              %br
              = link_to 'Edit', edit_admin_gift_path(gift), class: 'btn btn-default btn-xs'
              - if gift.deleteable?
                = link_to 'Delete', admin_gift_path(gift, context_params), :method => :delete, :data => { :confirm => 'Are you sure you want to delete this gift?' }, class: 'btn btn-danger btn-xs'

    %p= paginate @gifts

- content_for :page_js do
  :javascript
    new App.Admin.ProductSubcategoryLoader({prompt: 'Sub-category'})
