.row
  .col-sm-12
    %h1
      = @gift.title
      = link_to 'Edit', edit_admin_gift_path(@gift), class: 'btn btn-default btn-xs'
      = link_to 'Delete', admin_gift_path(@gift), :method => :delete, :data => { :confirm => 'Are you sure you want to delete this gift?' }, class: 'btn btn-danger btn-xs'

    %p
      %span.label.label-default= @gift.product_category&.name
      %span.label.label-default= @gift.product_subcategory&.name
      - @gift.tags.each do |tag|
        %span.label.label-primary.label-inverse= tag.name


    %p
      %b Title:
      = @gift.title
    %p
      %b Description:
      = @gift.description
    %p
      %b Selling price:
      = number_to_currency(@gift.selling_price)
    %p
      %b Cost:
      = number_to_currency(@gift.cost)
    %p
      %b Wrapt sku:
      = @gift.wrapt_sku
    %p
      %b Available to Customers?
      = @gift.available?

    %p
      %b Box:
      = @gift.pretty_parcel&.description

    %p
      %b Shipping Box:
      = @gift.shipping_parcel&.description

    %h3 Products
    - if @gift.products.none?
      %p
        No products yet.
        = link_to 'Add some', admin_gift_products_path(@gift)
    - else
      %table.table
        %thead
          %tr
            %th
            %th Title
            %th SKU
            %th Price
        %tbody
          - @gift.products.each do |product|
            %tr
              %td
                - if product.primary_product_image&.image?
                  = image_tag product.primary_product_image.image_url(:small), class: "admin-index-table--image"
              %td= link_to product.title, admin_product_path(product)
              %td= product.wrapt_sku
              %td= number_to_currency(product.price)

    %h3 Images
    - if @gift.gift_images.none?
      %p
        No images yet.
        = link_to "Add some", admin_gift_images_path(@gift)
    - else
      - @gift.gift_images.each do |gift_image|
        %p
          = image_tag gift_image.image_url(:small)
