= simple_form_for( [:admin, @product_category]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.association :parent, collection: ProductCategory.categories
    = f.input :wrapt_sku_code, label: 'SKU Code (3 uppercase letters)'

  .form-actions
    = f.button :submit, 'Save Product Category', class: 'btn btn-primary'
