= simple_form_for [:admin, @user] do |form|
  .form-inputs
    = form.input :first_name, label: 'First Name'
    = form.input :last_name, label: 'Last Name'
    = form.input :email
    = form.input :admin, label: 'Allow user to administer the site.'

  .form-actions
    = form.submit 'Save', class: 'btn btn-primary'