.row.admin__intro
  .col-sm-12
    %h1 Users

.row.admin__actions
  .col-sm-12
    = link_to 'Invite One User', new_admin_user_path, class: 'btn btn-primary'
    = link_to 'Import Multiple Users', new_admin_user_import_path, class: 'btn btn-primary'
    = link_to 'Invitation Requests', admin_invitation_requests_path, class: 'btn btn-primary'

.row.admin__search
  .col-sm-12
    = form_for  [:admin, @user_search], url: url_for(action: action_name), html: { method: 'GET', class: 'form-inline' } do |form|
      .form-group
        = form.search_field :keyword, placeholder: 'Name or email', class: 'form-control', style: 'min-width: 300px;'
        = form.collection_select :source, user_sources, :first, :last, {prompt: 'Source', include_blank: @user_search.source.present?}, class: 'form-control'
        = form.collection_select :beta_round, beta_rounds, :first, :last, {prompt: 'Beta Round', include_blank: @user_search.beta_round.present?}, class: 'form-control'
        %button.btn.btn-primary
          %i.glyphicon.glyphicon-search
          Search
        = link_to 'Clear Search (Show All)', admin_users_path, class: 'btn btn-default'
        
:ruby
  tabs = []
  tabs << {label: 'Active Users', action_name: 'index'}
  tabs << {label: 'Pending Confirmation', action_name: 'pending_invites'}

%ul.nav.nav-tabs{role: 'tablist'}
  - tabs.each do |tab|
    %li{class: tab[:action_name] == action_name ? 'active' : '', role: 'presentation'}
      %a{href: url_for({user_search: @user_search.to_params}.merge(action: tab[:action_name])), role: 'tab'}= tab[:label]
  

        
