%form.form
  .form-inputs
    .form-group.radio_buttons.optional
      - @survey_question.options.standard.each_with_index do |option, i|
        %span{class: (@survey_question.multiple_option_responses? ? 'checkbox' : 'radio')}
          %label
            - if @survey_question.multiple_option_responses?
              = check_box_tag :response, option.id
            - else
              = radio_button_tag :response, option.id
            = option.text
            - if option.image?
              %br
              = image_tag option.image_url(:small), class: 'mb4', alt: ''

      - if @survey_question.include_other_option?
        :ruby
          option = @survey_question.other_option
          option ||= @survey_question.create_other_option
          index = @survey_question.options.standard.length
        %span{class: (@survey_question.multiple_option_responses? ? 'checkbox' : 'radio')}
          %label
            - if @survey_question.multiple_option_responses?
              = check_box_tag :response, option.id
            - else
              = radio_button_tag :response, option.id
            Other
            = text_field_tag :other_option_text
