%li.edit-question-list__item.question-list__item.mb1{data: {option_row: true, sortable_item: true, sortable_item_id: option.id}, class: option_item_classes(option)}
  %i.glyphicon.glyphicon-move
  = option.text
  = link_to edit_admin_survey_question_option_path(@survey, @survey_question, option), data: {remote: true, edit_option_link: option.id} do
    %span.glyphicon.glyphicon-pencil(aria-hidden="true")
  = link_to edit_admin_survey_question_option_image_path(@survey, @survey_question, option), data: {remote: true, type: 'html', edit_option_image_link: option.id} do
    %span.glyphicon.glyphicon-picture
  = link_to admin_survey_question_option_path(@survey, @survey_question, option), data: {method: :delete, remote: true, delete_option_link: option.id} do
    %span.glyphicon.glyphicon-remove(aria-hidden="true")
  - if option.image?
    %br
    = image_tag option.image_url(:small) 

- content_for :page_js do
  :javascript
    new App.Admin.SurveyQuestionBuilder.EditOptionLink($('[data-edit-option-link="#{option.id}"]')[0])

    new App.Admin.SurveyQuestionBuilder.EditOptionImageLink($('[data-edit-option-image-link="#{option.id}"]')[0])

    new App.Admin.SurveyQuestionBuilder.DeleteOptionLink($('[data-delete-option-link="#{option.id}"]')[0])
