= simple_form_for( [:admin, @vendor]) do |f|
  = f.error_notification

  %pre
    = f.object.defunct_address

  .form-inputs
    = f.input :name
    = f.input :street1
    = f.input :street2
    = f.input :street3
    = f.input :city
    = f.input :state
    = f.input :zip
    = f.input :country, as: :text
    = f.input :contact_name, label: 'Contact Name'
    = f.input :email
    = f.input :phone
    = f.input :notes
    = f.input :wrapt_sku_code, label: 'Wrapt SKU Code (2 uppercase letters)'

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
