= simple_form_for( [:admin, @vendor]) do |f|
  = f.error_notification

  %pre
    = f.object.defunct_address

  .form-inputs
    = f.input :name
    = f.input :street1
    = f.input :street2
    = f.input :street3
    = f.input :city
    = f.input :state
    = f.input :zip
    = f.input :country, as: :text
    = f.input :contact_name, label: 'Contact Name'
    = f.input :email
    = f.input :phone
    = f.input :purchase_order_markup_in_dollars, hint: "This is a handling fee added to each PO that we pay the vendor"
    = f.input :notes
    = f.input :wrapt_sku_code, label: 'Wrapt SKU Code (2 uppercase letters)'
    = f.association :shipping_service_levels, as: :check_boxes, collection: ShippingServiceLevel.active.all, value_method: :id, label_method: :full_name

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
