= simple_form_for( [:admin, @vendor]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :address
    = f.input :contact_name, label: 'Contact Name'
    = f.input :email
    = f.input :phone
    = f.input :notes
    = f.input :wrapt_sku_code, label: 'Wrapt SKU Code (2 uppercase letters)'

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
