.row
  .col-sm-12
    %h1
      = @vendor.name
      = link_to 'Edit', edit_admin_vendor_path(@vendor), class: 'btn btn-default btn-xs'

%p
  %b Address:
  = @vendor.address
%p
  %b Contact name:
  = @vendor.contact_name
%p
  %b Email:
  = @vendor.email
%p
  %b Phone:
  = @vendor.phone
%p
  %b Notes:
  = @vendor.notes
%p
  %b Wrapt SKU Code:
  = @vendor.wrapt_sku_code
