.row
  .col-sm-12
    %h1
      = @vendor.name
      = link_to 'Edit', edit_admin_vendor_path(@vendor), class: 'btn btn-default btn-xs'

%p
  %strong Contact name:
  = @vendor.contact_name

%p
  %strong Address Line 1
  = @vendor.street1

%p
  %strong Address Line 2
  = @vendor.street2

%p
  %strong Address Line 3
  = @vendor.street3

%p
  %strong City
  = @vendor.city

%p
  %strong State
  = @vendor.state

%p
  %strong Zipcode
  = @vendor.zip

%p
  %strong Country
  = @vendor.country

%p
  %strong Email:
  = @vendor.email

%p
  %strong Phone:
  = @vendor.phone

%p
  %strong Allowed Shipping Levels:
  %ul
    - @vendor.shipping_service_levels.preload(:shipping_carrier).each do |shipping_level|
      %li
        = shipping_level.carrier_name
        = shipping_level.name

%p
  %strong Markup:
  = number_to_currency(@vendor.purchase_order_markup_in_dollars)

%p
  %strong Notes:
  = @vendor.notes

%p
  %strong Wrapt SKU Code:
  = @vendor.wrapt_sku_code
