= simple_form_for(@product) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :description
    = f.association :vendor
    
    .row
      .col-xs-3
        = f.input :price, wrapper: :vertical_input_group do
          .input-group-addon $
          = f.input_field :price, class: 'form-control'
        = f.input :vendor_retail_price, label: 'Vendor Retail Price', wrapper: :vertical_input_group do
          .input-group-addon $
          = f.input_field :vendor_retail_price, class: 'form-control'
        = f.input :wrapt_cost, label: 'Wrapt Cost', wrapper: :vertical_input_group do
          .input-group-addon $
          = f.input_field :wrapt_cost, class: 'form-control'
        = f.input :units_available,label: 'Units Available'
    .row
      .col-xs-4
        = f.input :wrapt_sku, label: 'Wrapt SKU'
        = f.input :vendor_sku, label: 'Vendor SKU'

    %h3 Categories
    = f.association :product_categories, as: :check_boxes, collection: ProductCategory.all_for_product_form, label_method: :name_for_product_form

    .row
      .col-sm-12
        = f.input :notes, as: :text, input_html: {rows: 6}

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
