= simple_form_for(@product) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :description
    = f.association :vendor
    
    .row
      .col-xs-2
        = f.input :price
        = f.input :vendor_retail_price
        = f.input :vendor_cost
        = f.input :units_available
    .row
      .col-xs-4
        = f.input :wrapt_sku, label: 'Wrapt SKU'

    = f.input :public

    %h3 Categories
    = f.association :product_categories, as: :check_boxes, collection: ProductCategory.all_for_product_form, label_method: :name_for_product_form

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
