= simple_form_for(@product, html: {data: {behavior: 'form-loads-subcategories'}}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :description
    = f.association :vendor
    = f.association :source_vendor
    
    .row
      .col-xs-3
        = f.input :price, wrapper: :vertical_input_group do
          .input-group-addon $
          = f.input_field :price, class: 'form-control', value: number_with_precision(f.object.price, precision: 2)
        = f.input :vendor_retail_price, label: 'Vendor Retail Price', wrapper: :vertical_input_group do
          .input-group-addon $
          = f.input_field :vendor_retail_price, class: 'form-control', value: number_with_precision(f.object.vendor_retail_price, precision: 2)
        = f.input :wrapt_cost, label: 'Wrapt Cost', wrapper: :vertical_input_group do
          .input-group-addon $
          = f.input_field :wrapt_cost, class: 'form-control', value: number_with_precision(f.object.wrapt_cost, precision: 2)
        = f.input :units_available,label: 'Units Available'
    .row
      .col-xs-4
        = f.input :wrapt_sku, label: 'Wrapt SKU', disabled: true
        = f.input :vendor_sku, label: 'Vendor SKU'

    %h3 Category
    = f.association :product_category, as: :select, collection: ProductCategory.categories, input_html: {data: {behavior: 'product-category-input'}}
    = f.association :product_subcategory, as: :select, collection: (@product.product_category&.children || []), input_html: {data: {behavior: 'product-subcategory-input'}}

    .row
      .col-sm-12
        = f.input :notes, as: :text, input_html: {rows: 6}

  .form-actions
    = f.button :submit, class: 'btn btn-primary'

:javascript
  new App.Admin.ProductSubcategoryLoader()
