.row
  .col-sm-12
    .pull-right.mt3
      = link_to 'Review to Create Gift from Product', @product, class: 'btn btn-primary'
    %h1 Edit Product

.row
  .col-sm-12
    %ul.nav.nav-tabs
      %li(role="presentation" class="active")= link_to 'Details', edit_product_path(@product)
      %li(role="presentation")= link_to 'Images', product_images_path(@product)

.row
  .col-sm-8
    = render 'form'

    .links__view-back
      = link_to 'View', @product
      \|
      = link_to 'Back', products_path
