.row
  .col-sm-12
    %h1 Edit Product

.row
  .col-sm-8
    %ul.nav.nav-tabs
      %li(role="presentation" class="active")= link_to 'Details', edit_product_path(@product)
      %li(role="presentation")= link_to 'Images', product_images_path(@product)

.row
  .col-sm-8
    = render 'form'

    .links__view-back
      = link_to 'Show', @product
      \|
      = link_to 'Back', products_path
