.row.admin__intro
  .col-sm-12
    %h1 Products

.row.admin__actions
  .col-sm-12
    = link_to 'Add a Product', new_product_path, class: 'btn btn-primary'

.row
  .col-sm-12
    %table.table.index-table
      %thead
        %tr
          %th
          %th Title
          %th Wrapt Cost
          %th Vendor Retail Price
          %th Units Available
          %th


      %tbody
        - @products.preload(:primary_product_image).each do |product|
          %tr
            %td.admin-index-table--image-cell
              - if product.primary_product_image.present?
                = image_tag product.primary_product_image.image_url(:small), class: 'admin-index-table--image'
            %td= product.title
            %td= number_to_currency product.wrapt_cost
            %td= number_to_currency product.vendor_retail_price
            %td= number_with_delimiter product.units_available
            %td
              = link_to 'View', product, class: 'btn btn-default btn-xs'
              = link_to 'Edit', edit_product_path(product), class: 'btn btn-default btn-xs'
              = link_to 'Delete', product, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-xs'

    %p=paginate @products


