%p#notice= notice

%h1
  = @product.title
  %small
    = link_to 'Edit', edit_product_path(@product)
    \|
    = link_to 'Back', products_path


%p
  = @product.description

%p
  %b Price:
  = number_to_currency @product.price

%p
  - if @product.public?
    Visible to the Public
  - else
    Hidden from the Public

%p
  = image_tag @product.image_url(:large) if @product.image?


