.row
  .col-sm-12
    %h1
      = @product.title
      = link_to 'Edit', edit_product_path(@product), class: 'btn btn-default btn-xs'

    %p
      = @product.description

    %p
      %b Vendor:
      = @product.vendor&.name

    %p
      %b Price:
      = number_to_currency @product.price

    %p
      %b Vendor Retail Price:
      = number_to_currency @product.vendor_retail_price

    %p
      %b Vendor Cost:
      = number_to_currency @product.vendor_cost

    %p
      %b Units Available:
      = number_with_delimiter @product.units_available

    %p
      %b Wrapt SKU:
      = @product.wrapt_sku

    %p
      - @product.product_categories.each do |category|
        %span.label.label-default= category.name

    - @product.product_images.each do |product_image|
      %p
        = image_tag product_image.image_url(:small)


