.row.admin__intro
  .col-sm-12
    %h1 Edit Recommendation Set
    
.row
  .col-sm-12
    %h4
      = @profile.owner&.email
      - if @profile.name.present?
        for #{@profile.name} (#{@profile.id})
      - if @profile.email.present?
        [#{@profile.email}]
    %p
      created at: #{format_datetime(@recommendation_set.created_at)}
      updated at: #{format_datetime(@recommendation_set.updated_at)}
      
    %p
      Parameters:
      %ul
        - stats = @recommendation_set.engine_stats || {}
        - if stats[:filters].is_a?(Array)
          - stats[:filters].each do |filter|
            %li #{filter[:name]} Filter: #{filter[:description]}

        - if stats[:scorers].is_a?(Array)
          - stats[:scorers].each do |scorer|
            %li #{scorer[:name]} Scoring: #{scorer[:description]}

.row
  .col-sm-12
    %h4
      #{pluralize(@recommendation_set.available_recommendations.size, 'visible recommendation')}

%hr

.row
  .col-sm-12
    .well
      = simple_form_for(@new_gift_recommendation, url: admin_gift_recommendation_set_recommendations_path(@recommendation_set), method: :post, html: {class: 'form-inline'}) do |f|
        .form-group
          %label SKU
          = f.text_field :gift_id, size: 30
        .form-group
          = f.submit "Add Gift", class: 'btn btn-default'
        
.row
  .col-sm-12
    %table.table
      %thead
        %tr
          %th Position
          %th Gift
          %th Source
          %th Removed by expert
      %tbody
        - @recommendations.each do |rec|
          - css_classes = []
          - css_classes << 'active' if !@shown_to_user.include?(rec)
          %tr{class: css_classes}
            - gift = rec.gift
            %td
              = rec.position + 1
            %td
              - if gift.primary_gift_image.present?
                = image_tag gift.primary_gift_image.image_url(:small), class: 'admin-index-table--image', alt: gift.title
              %h4.admin-index-table--item-title
                #{gift.title} (#{gift.wrapt_sku})
                - if @shown_to_user.include?(rec)
                  [Visible]
                - else
                  [Hidden]
              .admin-index-table--item-description
                = gift.description
                %p= number_to_currency(gift.selling_price)
                %p
                  - if gift.product_category.present?
                    %span.label.label-default= gift.product_category&.name
                  - if gift.product_subcategory.present?
                    %span.label.label-default= gift.product_subcategory&.name
                  - if gift.featured?
                    %span.label.label-default featured
                  - gift.tags.sort_by(&:name).each do |tag|
                    %span.label.label-primary.label-inverse= tag.name

                %p= gift.availability_string
                
              .save-notice
            %td
              - if rec.added_by_expert?
                Expert
              - else
                Algorithm (score: #{rec.score.round})
            %td
              = simple_form_for(rec, url: admin_gift_recommendation_path(rec), method: 'patch', html: {class: 'form-inline'}) do |f|
                = f.check_box :removed_by_expert, class: 'js_auto_save', id: nil

.row
  .col-sm-12
    .well
      = simple_form_for(@recommendation_set, url: admin_gift_recommendation_set_path(@recommendation_set), method: :patch) do |f|
        = f.input :expert_note
        = f.submit 'Save Note', class: 'btn btn-primary'
          
= content_for :page_js do
  :coffeescript
    $ ->
      $('.js_auto_save').change (e) ->
        $('input').prop('disable', true)
        $(@).closest('tr').after("<tr class='info'><td colspan='4' style='padding-right:40px;text-align:right;'>Saving changes...</td></tr>")
        $(@).closest('form').submit()


