.container
  .row
    .col-xs-12
      %h1.tan-002.ph2.text-center
        Thank you for participating in this evaluation of Wrapt!
         
      %p.lead.tan-002.text-center
        Your participation & feedback will directly impact the success of Wrapt and help to support our mission to increase connectedness and love between people by helping them to give better, more meaningful gifts.
    .col-md-8.col-md-offset-2
      %p 
        We'd like to send you a gift to show our appreciation for your time. We'll ask your mailing address at the end--totally optional and we won't share or use your address for anything else!

  .row
    .col-md-10.col-md-offset-1
      = simple_form_for [@survey] do |form|
      
        %ol.mvp1b-user-surveys__questions
          %li 
            First a couple of questions about you... What age group are you in?
            = form.input_field :age, as: :radio_buttons, collection: ['< 20', '20 - 29', '30 - 39', '40 - 49', '50 - 59', '60 - 69', '70+']
        
          %li 
            What is your gender?
            = form.input_field :gender, as: :radio_buttons, collection: ['Male', 'Female', 'Other']

          %li 
            What is your zip code?
            = form.input_field :zip, class: 'input-small'
      
          %li 
            How confident do you feel about your responses to the quiz?
            = form.input_field :response_confidence, as: :radio_buttons, collection: ['Very confident', 'Confident', 'Skeptical', 'Very Skeptical']

          %li 
            How confident do you feel that the software made good gift recommendations (things she will like)?
            = form.input_field :recommendation_confidence, as: :radio_buttons, collection: ['Very confident', 'Confident', 'Skeptical', 'Very Skeptical']

          %li 
            Either way&hellip;why?
            = form.input_field :recommendation_comment

          %li 
            How likely would you be to use this site again on your own?
            = form.input_field :would_use_again, as: :radio_buttons, collection: ['Very likely', 'Likely', 'Unlikely']

          %li 
            How likely would you be to use this site for yourself to create a wish list to share with friends & family, or purchase items?
            = form.input_field :would_tell_friend, as: :radio_buttons, collection: ['Very likely', 'Likely', 'Unlikely']

          %li 
            Would you use Wrapt to notify you of her upcoming gift occasions such as her birthday, anniversary or other important dates? Once you take her quiz and get recommendations, we send you reminders or gifts that match her based on your initial quiz - would this interest you?
            = form.input_field :other_services

          %li 
            We'd like to show our appreciation for your time with a small gift from Wrapt--please tell us your mailing address if you're interested. (We won't share your mailing address or use it for anything other than sending this gift!)
            = form.input_field :mailing_address
        .action.text-center
          = form.submit 'SAVE', class: 'btn btn-primary'