.pb3.pt3
  .container
    .row
      .col-xs-12
        .table-display
          %ul.footer__links
            %li.footer__link-item
              2017 Wrapt
              %sup.trademark &#8482;
              All Rights Reserved
            %li.footer__link-item
              = link_to "Privacy Policy", privacy_policy_path
            %li.footer__link-item
              = link_to "Terms of Service", terms_of_service_path
    .row
      .col-xs-12.footer__social-links.mt2
        %a.footer__social_link(href="https://facebook.com/GiftWrapt" target="_blank")
          = icon "facebook"
        %a.footer__social_link(href="https://twitter.com/Gift_Wrapt" target="_blank")
          = icon "twitter"
        %a.footer__social_link(href="https://instagram.com/giftwrapt" target="_blank")
          = icon "instagram"