.pb4.pt4
  .container
    .row
      .col-xs-12.footer__social-links
        %a.footer__social_link
          = icon "facebook-f"
        %a.footer__social_link
          = icon "twitter"
        %a.footer__social_link
          = icon "instagram"
    .row
      .col-xs-12
        .table-display
          %ul.footer__links
            %li.footer__link-item
              2017 Wrapt
              %sup.trademark &#8482;
              All Rights Reserved
            - if Rails.env.development?
              %li.footer__link-item
                = link_to "Privacy Policy", privacy_policy_path
              %li.footer__link-item
                = link_to 'Terms & Conditions', terms_of_service_path
