.top-navigation__container.container
  %nav.top-navigation__nav
    .top-navigation__brand{class: ("active" if active_top_nav_section == 'home_pages')}
      - home_link_url = current_user&.admin? ? root_path : '#'
      = link_to home_link_url, class: ' top-navigation__brand-link' do
        %span Wrapt
        =embedded_svg('wrapt-logo-tm', class: "navbar-brand__icon-wrapt-logo")
    = top_nav_toggle(:in)
    .top-navigation__menu.navbar-right.tnm__closed
      = top_nav_toggle(:out)
      - top_nav_links.each do |link|
        - path, text, link_method = link
        = send("top_nav_link_#{link_method.to_s}", path, text)

- content_for :page_js do
  :javascript
    $(document).ready(function() {
      var triggerIn = $('[data-toggle="fade in"]');
      var triggerOut = $('[data-toggle="fade out"]');
      var loadTarget = function(that) {
        var targetSelector = $(that).data('target');
        return $(targetSelector);
      }
      triggerIn.click(function() {
        var target = loadTarget(this);
        target.removeClass('tnm-fade__out');
        target.removeClass('tnm__closed');
        target.addClass('tnm-fade__in');
      })
      triggerOut.click(function() {
        var target = loadTarget(this);
        target.addClass('tnm-fade__out');
        target.removeClass('tnm-fade__in');
        setTimeout(function() {
          target.addClass('tnm__closed')
        }, 500)
      })
    })
