%nav.navbar.navbar-inverse.navbar-static-top
  .container-fluid
    .navbar-header
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to "Home", root_path
        %li= link_to "Products", products_path
        %li= link_to "Product Categories", product_categories_path
        %li= link_to "Survey Versions", surveys_path
        %li= link_to "Training Sets", training_sets_path
        %li= link_to "Profile Sets", profile_sets_path

