!!!
%html
  %head
    %title Wrapt
    = csrf_meta_tags
    = action_cable_meta_tag
    = stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload'
    %link{href: '//fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:400,600|Raleway:400,600', rel: 'stylesheet', type: 'text/css'}
    = javascript_include_tag 'admin', 'data-turbolinks-track': 'reload'
  %body
    -# svg include needs to be first thing in body tag
    = svg 'symbol-defs'
    - if show_top_nav?
      = render 'layouts/admin/top_nav'
    


         
    .container.main
      = render 'layouts/admin/alerts'
      = render 'breadcrumbs'
      = yield

    %footer
      .container-fluid
        .row(style="text-align: center;")
          =embedded_svg('wrapt-logo', class: "footer__icon-wrapt-logo")

    = render 'pjax_modal_frame'
    = yield :page_js
