!!!
%html
  %head
    %title Gift Better, Gift Wrapt.
    -# TODO Hacky home page test so that email collector doesn't look horrible on mobile
      - if root_path
        %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
      - else
        %meta{name: "viewport", content: "width=device-width"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %meta{content: "IE=edge", "http-equiv": "X-UA-Compatible"}
    = render 'layouts/google_analytics'
    = render 'layouts/adwords'
    - if @include_finalize_adwords_script
      = render 'layouts/finalize_adwords_script'
    = csrf_meta_tags
    = action_cable_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script(type="text/javascript" src="https://js.stripe.com/v3/")
    = render 'shared/happy_fox'

    = render 'layouts/favicons'
    = render 'layouts/social_tags'
  %body{class: body_classes}
    -# svg include needs to be first thing in body tag
    = svg 'symbol-defs'
    -# responsive is disabled so use .col-xs-* everywhere for bs columns
    = render 'layouts/impersonation'
    .wrapper--full-bleed__bg-03.pb5.js-ios-hack
      - if show_top_nav?
        = render 'layouts/top_nav'
        -# .container.container--main
        = render 'layouts/alerts'
        = render 'breadcrumbs'
        - if @show_account_sub_nav
          = render 'my_account/sub_nav'
      - elsif show_checkout_nav?
        = render 'ecommerce/checkout/nav'
        = render 'layouts/alerts'
      = yield
    .js-ios-hack
      = yield :after_wrapper

    %footer.footer.js-ios-hack
      = render 'layouts/footer'

    = render 'pjax_modal_frame'
    = render 'pjax_modal_two_frame'
    = render_gift_basket if enable_gift_basket?
    - if @include_enhanced_ecommerce_analytics
      %script
        ga('require', 'ec');
    = yield :page_js
    - if enable_chat?
      %script
        window.show_chat = true;
    - else
      %script
        window.show_chat = false;
