!!!
%html
  %head
    %title Wrapt
    %meta{name: "viewport", content: "width=device-width"}
    %meta{content: "IE=edge", "http-equiv": "X-UA-Compatible"}
    = csrf_meta_tags
    = action_cable_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    -# responsive is disabled so use .col-xs-* everywhere for bs columns
    - if show_top_nav?
      = render 'layouts/top_nav'
    


         
    -#.container.container--main
    = render 'layouts/alerts'
    = render 'breadcrumbs'
    = yield

    %footer
      = render 'layouts/footer'

    = render 'pjax_modal_frame'
    = yield :page_js
