!!!
%html
  %head
    %title Wrapt
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'

    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/top_nav'
    


         
    .container.main
      = render 'layouts/alerts'
      = render 'breadcrumbs'
      = yield

    %footer
      .container-fluid
        .row(style="text-align: center;")
          = link_to image_tag('logo-full-size.png', height: 150), root_path

    = yield :page_js
