.ma-giftee-card
  .ma-giftee-card__header
    = link_to edit_my_account_giftee_path(giftee), data: {loads_in_pjax_modal: true}, class: 'btn btn-xs btn-default btn-narrower-xs btn-upcase-gray ma-giftee-card__action' do
      Edit
    .ma-giftee__name
      = giftee.name
      .ma-giftee__sub-name
        %small= giftee.relationship
        = render 'giftee_orders', giftee: giftee
  .ma-giftee-card__content
    = render giftee.state_partial, giftee: giftee


