- all_recs = giftee.gift_recommendations
- all_recs_size = all_recs.size
- first_five_recs = all_recs.take(5)
.ma-giftee-recs__details.clearfix
  - if giftee.notification_count > 0
    .ma-giftee-recs__notification
      %span= giftee.notification_count
      = embedded_svg('icon-wrapt-heart', class: 'svg-icon icon-notify')
    .pull-left= link_to 'See New WRAPT Recommendations', giftee_gift_recommendations_path(giftee)
  .pull-right= giftee.display_rec_set_last_update
- if all_recs_size > 0
  - if giftee.can_generate_more_recs?
    - btn_text = "VIEW #{all_recs_size} AND GET MORE"
  - else
    - btn_text = "VIEW #{all_recs_size} RECOMMENDATIONS"
  
  = link_to giftee_gift_recommendations_path(giftee), class: 'btn btn-primary btn-block ma-giftee-card__btn' do
    =btn_text
- else
  .btn.btn-primary.btn-block.ma-giftee-card__btn
    NO RECOMMENDATIONS

.ma-giftee-recs
  - first_five_recs.each do |rec|
    .ma-giftee-rec{style: "background-image: url(#{rec.gift.carousel_thumb.image_url(:small)});"}