.ma-giftee-recs__details.clearfix
  - if giftee.notification_count > 0
    .ma-giftee-recs__notification
      %span= giftee.notification_count
      = embedded_svg('icon-wrapt-heart', class: 'svg-icon icon-notify')
    .pull-left= link_to 'See New WRAPT Recommendations', giftee_gift_recommendations_path(giftee)
  .pull-right= giftee.display_rec_set_last_update
- if all_recs.size > 0
  - if giftee.has_viewed_initial_recommendations?
    - recs = GiftRecommendation.load_recommendations_for_display(all_recs)
    - btn_text = "VIEW #{recs.size} RECOMMENDATIONS"
  - else
    - expert_recs = all_recs.select(&:added_by_expert)
    - non_expert_recs = all_recs.select{|r| !r.added_by_expert}
    - recs = expert_recs + GiftRecommendation.select_for_display(non_expert_recs)
    - btn_text = "VIEW #{recs.size} AND GET MORE"
  
  = link_to giftee_gift_recommendations_path(giftee), class: 'btn btn-primary btn-block ma-giftee-card__btn' do
    =btn_text
- else
  .btn.btn-primary.btn-block.ma-giftee-card__btn
    NO RECOMMENDATIONS

.ma-giftee-recs
  - first_five_recs.each do |rec|
    .ma-giftee-rec{style: "background-image: url(#{rec.gift.carousel_thumb.image_url(:small)});"}